@use 'base/mdc-customize';
@use '@material/drawer/mdc-drawer';
@use '@material/drawer';
@use 'base/theme';

$big-shadow: 0 8px 16px 0 rgba(61, 64, 245, 0.3),
0 16px 32px 0 rgba(61, 214, 245, 0.14);

:host {
  /**
    * @prop --sidebar-width: The width of the open sidebar.
  */

  --sidebar-width: var(--ino-sidebar-width, 250px);

  .mdc-drawer {
    height: 100%;
    box-shadow: $big-shadow;
    @include drawer.width(var(--sidebar-width));

    &.ino-sidebar--right {
      left: unset;
      right: 0;

      &.mdc-drawer--modal {
        right: 0;
      }

      &.mdc-drawer--animate {
        transform: translateX(100%);
      }

      &.mdc-drawer--opening {
        transform: translateX(0);
      }

      &.mdc-drawer--closing {
        transform: translateX(100%);
      }
    }
  }

  .mdc-drawer-scrim {
    display: none;
  }
}
