@use 'base/mdc-customize';
@use '@material/form-field/mdc-form-field';
@use '@material/checkbox/mdc-checkbox';
@use '@material/checkbox';
@use 'base/theme';

$primary-dark: theme.color(primary, dark);
$primary-base: theme.color(primary);
$primary-light: theme.color(primary, light);
$grey: theme.color(light);
$grey-light: theme.color(light, light);
$white: theme.color(primary, contrast);

$unchecked-color: $grey;
$checked-color: $primary-dark;
$hover-color: $primary-base;
$disabled-color: $grey-light;
$ink-color: $white;
$focus-shadow-color: $primary-light;
$focus-border-color: $primary-base;

:host {
  .mdc-checkbox {
    @include checkbox.container-colors($unchecked-color, $white, $checked-color, $checked-color);
    @include checkbox.disabled-container-colors($disabled-color, $white, $disabled-color, $disabled-color);

    &:before,
    &:after {
      display: none; // Remove ripple effect
    }
  }

  .mdc-checkbox__background {
    border: 1.5px solid;
    border-radius: 5px;
    width: 21px;
    height: 21px;
    top: calc((var(--mdc-checkbox-ripple-size, 37px) - 18px) / 2);
    left: calc((var(--mdc-checkbox-ripple-size, 37px) - 18px) / 2);
  }

  .mdc-checkbox__checkmark {
    inset: 3.3px 0 0 2.5px;
    width: 13px;
    path {
      stroke-linejoin: round;
      stroke-linecap: round;
    }
  }

  .mdc-checkbox__mixedmark {
    @include checkbox.ink-color($white);
    width: 65%;
    background-color: $white;
    border-radius: 50px;
  }

  .mdc-checkbox--disabled ~ label {
    color: $disabled-color;
  }

  .ino-checkbox-selection { 
    .mdc-checkbox__background {
      border-radius: 50px;
    }
  }
}

:host(:hover) {
  .mdc-checkbox {
    @include checkbox.container-colors($primary-base, $white, $checked-color, $checked-color);
  }
}

:host(:active) .mdc-checkbox:not(.checked), :host(:focus),
:host(:active) .mdc-checkbox:not(.mdc-checkbox--disabled) {
  .mdc-checkbox__background {
    box-shadow: 0px 0px 0px 4px $primary-light;
  }
}