@use '../styles/mdc-customize';
@use '@material/form-field/mdc-form-field';
@use '@material/checkbox/mdc-checkbox';
@use '@material/checkbox';
@use '../styles/colors';

:host {
  /**
   * @prop --ino-checkbox-color: primary color of the checkbox
   * @prop --ino-checkbox-color-hover: color of the checkbox on hover
   * @prop --ino-checkbox-color-active: color of the checkbox if active
   * @prop --checkbox-container-color-unchecked: color of the checkbox container if unchecked
   * @prop --ino-checkbox-text-color-disabled: color of the checkbox text if disabled
   * @prop --ino-checkbox-background-color-disabled: color of the checkbox background if disabled
   * @prop --ino-checkbox-checkmark-color: primary color of the check mark
   * @prop --ino-checkbox-checkmark-color-disabled: color of the check mark if disabled
   */

  --checkbox-color: var(--ino-checkbox-color, #{colors.ino-color(primary)});
  --checkbox-color-hover: var(--ino-checkbox-color-hover, #{colors.ino-color(primary, light)});
  --checkbox-color-active: var(--ino-checkbox-color-active, #{colors.ino-color(primary, dark)});
  --checkbox-container-color-unchecked: var(--ino-checkbox-container-color-unchecked, #{colors.ino-color(primary, light)});
  --checkbox-text-color-disabled: var(--ino-checkbox-text-color-disabled, #{colors.ino-color(dark)});
  --checkbox-background-color-disabled: var(--ino-checkbox-background-color-disabled, #{colors.ino-color(light, light)});
  --checkbox-checkmark-color: var(--ino-checkbox-checkmark-color, #fff);
  --checkbox-checkmark-color-disabled: var(--ino-checkbox-checkmark-color-disabled, #{colors.ino-color(light)});
}

:host {
  .mdc-checkbox {
    @include checkbox.container-colors(var(--checkbox-container-color-unchecked), #fff, var(--checkbox-color), var(--checkbox-color));
    @include checkbox.ink-color(var(--checkbox-checkmark-color));

    &:before, &:after {
      display: none; // Remove ripple effect
    }
  }

  .mdc-checkbox--disabled {

    .mdc-checkbox__background .mdc-checkbox__checkmark {
      color: var(--checkbox-checkmark-color-disabled);
    }

    .mdc-checkbox__background .mdc-checkbox__mixedmark {
      border-color: var(--checkbox-checkmark-color-disabled);
    }

    .mdc-checkbox__native-control[disabled] {
      &:checked ~ .mdc-checkbox__background,
      &:indeterminate ~ .mdc-checkbox__background,
      &:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
        background-color: var(--checkbox-background-color-disabled);
        border-color: var(--checkbox-background-color-disabled);
      }
    }
  }

  .mdc-checkbox--disabled ~ label {
    color: var(--checkbox-text-color-disabled);
  }
}


:host(:hover) {
  .mdc-checkbox:not(.mdc-checkbox--disabled) {
    @include checkbox.container-colors(var(--checkbox-color-hover), #fff, var(--checkbox-color-hover), var(--checkbox-color-hover));

    .mdc-checkbox__background {
      box-shadow: 0 4px 8px 0 rgba(61, 64, 245, 0.30), 0 12px 28px 0 rgba(61, 214, 245, 0.14);

    }

  }
}

:host(:active) .mdc-checkbox:not(.checked), :host(active) .mdc-checkbox:not(.mdc-checkbox--disabled) {
  @include checkbox.container-colors(var(--checkbox-color-active), #fff, var(--checkbox-color-active), var(--checkbox-color-active));
}

// ino-selection
// --------------------------------------------------

:host .ino-checkbox-selection {
  .mdc-checkbox__background {
    border-radius: 30px;

    .mdc-checkbox__checkmark {
      width: 12px;
      height: 12px;
      top: 1px;
      left: 1px;
    }
    .mdc-checkbox__mixedmark {
      margin: 0 2px;    
    }
  }
  &:not(:hover):not(.checked).ino-checkbox--indeterminate {
    // Switch background color
    --mdc-checkbox-checked-color: var(--ino-checkbox-container-color-unchecked);
  }
}
