@use 'base/mdc-customize';
@use '@material/form-field/mdc-form-field';
@use '@material/checkbox/mdc-checkbox';
@use '@material/checkbox';
@use 'base/theme';

$primary-dark: #2C02FF;
$primary-base: #4B4EFF;
$primary-light: #2D5DFF4D;
$grey: #ABB1CC;
$grey-light: #CBD0E0;
$white: #fff;

$unchecked-color: $grey;
$checked-color: $primary-dark;
$hover-color: $primary-base;
$disabled-color: $grey-light;
$ink-color: $white;
$focus-shadow-color: $primary-light;
$focus-border-color: $primary-base;

:host {
  .mdc-checkbox {
    @include checkbox.container-colors($unchecked-color, $white, $checked-color, $checked-color);
    @include checkbox.disabled-container-colors($disabled-color, $white, $disabled-color, $disabled-color);

    &:before,
    &:after {
      display: none; // Remove ripple effect
    }
  }

  .mdc-checkbox__background {
    border: 1.5px solid;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    top: calc((var(--mdc-checkbox-ripple-size, 37px) - 18px) / 2);
    left: calc((var(--mdc-checkbox-ripple-size, 37px) - 18px) / 2);

  }

  .mdc-checkbox__checkmark {
    inset: 2.3px;
    width: 15px;
  }

  .mdc-checkbox--disabled ~ label {
    color: $disabled-color;
  }
}

:host(:hover) {
  .mdc-checkbox {
    @include checkbox.container-colors($primary-base, $white, $checked-color, $checked-color);
  }
}

:host(:active) .mdc-checkbox:not(.checked), :host(:focus),
:host(:active) .mdc-checkbox:not(.mdc-checkbox--disabled) {
  .mdc-checkbox__background {
    box-shadow: 0px 0px 0px 4px $primary-light;
  }
}

