@use '../styles/mdc-customize';
@use '@material/floating-label/mdc-floating-label';

$label-color: rgba(0, 0, 0, 0.6);

ino-label {

  &[ino-show-hint] {
    .mdc-floating-label:after {
      content: '*';
    }

    &:not([ino-required]) .mdc-floating-label:after {
      content: ' - Optional' + '\a0';
      font-style: italic;
      color: lighten($label-color, 30);
    }
  }

  &[ino-show-hint="false"], &:not([ino-show-hint]) {
    .mdc-floating-label::after {
      content: none;
    }
  }

  &:not([ino-disabled]) .mdc-floating-label:not(.mdc-floating-label--float-above) {
    color: $label-color;
  }
}
