@use '@material/textfield/mdc-text-field';

$label-color: rgba(0, 0, 0, 0.6);

ino-label {

  &[ino-show-hint] {

    .mdc-floating-label:after {
      content: '*';
    }

    &:not([ino-required]) .mdc-floating-label:after {
      content: ' - Optional' + '\a0';
      font-style: italic;
      color: lighten($label-color, 30);
    }
  }

  &:not([ino-outline]) .mdc-floating-label {
    left: 0;

    ino-input &:not(.mdc-floating-label--float-above) {
      top: 70%;
    }
  }

  &:not([ino-disabled]) .mdc-floating-label:not(.mdc-floating-label--float-above) {
    color: $label-color;
  }
}
