@use '../base/mdc-customize';
@use '@material/floating-label/mdc-floating-label';

$label-color: rgba(0, 0, 0, 0.6);

@mixin outline-border-color($color) {
  ino-label:not(.ino-label--disabled).ino-label--outlined
    .mdc-notched-outline
    > div {
    border-color: $color;
  }
}

ino-label {
  .mdc-floating-label::after {
    content: none;
  }

  &.ino-label--show-hint {
    .mdc-floating-label:after {
      content: '*';
    }

    &:not(.ino-label--required) .mdc-floating-label:after {
      content: ' - Optional' + '\a0';
      font-style: italic;
      color: lighten($label-color, 30);
    }
  }

  &:not(.ino-label--outlined) .mdc-floating-label {
    left: 0;

    ino-input &:not(.mdc-floating-label--float-above) {
      top: 70%;
    }
  }

  &:not(.ino-label--disabled)
    .mdc-floating-label:not(.mdc-floating-label--float-above) {
    color: $label-color;
  }
}
