@use '../../../../elements/src/components/styles/colors';

@each $color-name in colors.$ino-color-schemes {
  $selector: '.#{$color-name}';
  #{$selector} {
    --ino-switch-toggled-on-color: #{colors.ino-color($color-name)};
    --ino-switch-toggled-on-thumb-color: #{colors.ino-color($color-name)};
    --ino-switch-toggled-on-track-color: #{colors.ino-color($color-name, light)};
    --ino-switch-hover-color: #{colors.ino-color($color-name, light)};
    --ino-switch-hover-track-color: #{colors.ino-color($color-name, light)};
    --ino-switch-active-color: #{colors.ino-color($color-name, dark)};
    --ino-switch-active-track-color: #{colors.ino-color($color-name, dark)};
  }
}


.story-switch-states {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.customizable-switch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-self: center;
}

.ino-switch-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ino-switch {
  margin: 5px;
}
