@use '../../../../elements/src/components/styles/colors';

@each $color-name, $map in colors.$ino-color-scheme {
  $selector: '.#{$color-name}';
  #{$selector} {
    --ino-switch-toggled-on-color: map_get($map, base);
    --ino-switch-toggled-on-thumb-color: map_get($map, base);
    --ino-switch-toggled-on-track-color: map_get(($map, light));
    /*
    --ino-switch-toggled-off-color:
    --ino-switch-toggled-off-thumb-color:
    --ino-switch-toggled-off-track-color:*/
    --ino-switch-hover-color: map_get(($map, light));
    --ino-switch-hover-thumb-color: map_get(($map, light));
    --ino-switch-hover-track-color: map_get(($map, light));
    --ino-switch-active-color: map_get(($map, dark));
    --ino-switch-active-thumb-color: map_get(($map, dark));
    --ino-switch-active-track-color: map_get(($map, dark));
  }
}


.story-switch-states {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.customizable-switch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-self: center;
}

.ino-switch-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ino-switch {
  margin: 5px;
}
