@import '../utils';

// only selects Stories of ino-fab-set without decorating stories with wrapper classes
.sbdocs.sbdocs-content:has(#anchor--buttons-ino-fab-set--default) {
  [scale] {
    width: 100%;
  }
}

@include story-container {
  min-width: 10px;
  min-height: 10px;
}

.ino-fab-set--bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
