@use './mixins' as tooltip-mixins;
@use 'base/theme';

$color-schemes: 'primary', 'secondary', 'light';

ino-tooltip .ino-tooltip__composer {
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0;
  padding: 4px 8px;
  border-radius: 6px;
}

@each $color in $color-schemes {
  ino-tooltip.ino-tooltip--color-scheme-#{$color} {
    @include tooltip-mixins.tooltip(
      theme.color($color, light),
      theme.color($color, contrast)
    );
  }
}

ino-tooltip.ino-tooltip--color-scheme-transparent {
  @include tooltip-mixins.tooltip(#fff, theme.color(dark));
}
