@use 'styles/tooltip';
@use 'styles/colors';

ino-tooltip {

  .ino-tooltip__composer {
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 0;
    padding: 4px 8px;
  }

  //default color scheme
  @include tooltip.tooltip(colors.$primary-light, #fff);

  &[ino-color-scheme="primary"] {
    @include tooltip.tooltip(colors.$primary-light, #fff);
  }

  &[ino-color-scheme="secondary"] {
    @include tooltip.tooltip(colors.$secondary, #fff);
  }

  &[ino-color-scheme="light"] {
    @include tooltip.tooltip(colors.ino-color(light, light), #000);
  }

  &[ino-color-scheme="transparent"] {
    @include tooltip.tooltip(#ffffff, colors.$dark);
  }
}
