@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";

ino-card {
  display: block;

  & > .ino-card__composer {
    padding: 1rem;
    height: 100%;
  }

  .ino-card__header {
    .ino-card__header-title {
      @include mdc-typography(headline6);
    }
    .ino-card__header-subtitle {
      @include mdc-theme-prop(color, text-secondary-on-background);
      @include mdc-typography(subtitle2);
    }
    padding-bottom: 1em;
  }

  .ino-card__content {
    @include mdc-typography(body2);
  }
}
