@use 'base/mdc-customize';
@use '@material/chips';
@use "@material/chips/styles";
@use 'base/theme';

$n-3: #7275A1;
$n-7: #EDEFF5;
$primary: #2C02FF;
$border-focused: rgba(45, 93, 255, 0.3);

$chip-outlined-color-enabled: transparent;
$chip-outlined-color-hover: #E8EDFF;

$chip-solid-color-enabled: #E8EDFF;
$chip-solid-color-hover: #D7E0FE;

$chip-color-focus: #2D5DFF4D;
$chip-color-font: $primary;

$icon-size: 16px;

ino-chip { 

  // base styling
  .ino-chip-container {
    @include chips.ripple-color(transparent);
    @include chips.trailing-action-color($primary);
    @include chips.trailing-action-ripple-size(0px);
    @include chips.text-label-color($primary);
    @include chips.icon-color($primary);
    @include chips.checkmark-color($primary);
    @include chips.height(24px);
    transition: ease-in-out 0.15s;

    .ino-chip-leading-icon {
      --ino-icon-width: #{$icon-size};
      --ino-icon-height: #{$icon-size};
    }

    .mdc-evolution-chip__action {
      padding: 0 10px;
    }

    .mdc-evolution-chip__text-label {
      font-size: 13px;
    }

    &.mdc-evolution-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing {
      padding-right: 5px;
    }

    .ino-chip-trailing-icon {
      display: flex;
      justify-content: center;
      --ino-icon-width: #{$icon-size};
      --ino-icon-height: #{$icon-size};
     
      .ino-chip-close-icon {
        --ino-icon-width: 9px;
        --ino-icon-height: 9px;
      }
    }

    ino-icon {
      --icon-color: currentColor;
    }
  }

  // outline styling
  &.ino-chip--outline .ino-chip-container {
    @include chips.outline-style(solid);
    @include chips.outline-width(1px);
    @include chips.container-color($chip-outlined-color-enabled);
    @include chips.outline-color($primary);

    ino-icon {
      --icon-color: #{$primary};
    }

    &:hover, &:focus {
      @include chips.container-color($chip-outlined-color-hover);
    }
  }

  // solid styling
  &.ino-chip--solid .ino-chip-container {
    @include chips.container-color($chip-solid-color-enabled);

    ino-icon {
      --icon-color: $primary;
    }

    &:hover, &:focus {
      @include chips.container-color($chip-solid-color-hover);
    }
  }

  // disabled styling
  &.ino-chip-disabled .ino-chip-container {
    @include chips.container-color($n-7);
    @include chips.text-label-color($n-3);
    @include chips.outline-width(0);
    pointer-events: none;

    ino-icon {
      --icon-color: $n-3;
    }
  }

  // focus styling
  &:focus-within {
    &.ino-chip--solid .mdc-evolution-chip, &.ino-chip--outline .mdc-evolution-chip {
      box-shadow: 0 0 0 3px $border-focused;
    }
  }
}