@use 'base/mdc-customize';
@use '@material/chips/mdc-chips';
@use '@material/chips';
@use 'base/theme';

$default-chip-color: lighten(theme.color(primary), 36.5%);

ino-chip {
  display: inline-block;

  & * {
    box-sizing: initial;
  }

  .mdc-chip {
    @include chips.fill-color-accessible($default-chip-color);

    ino-icon {
      --icon-width: .75em;
      --icon-height: .75em;
      --icon-color: currentColor;
    }
  }

  // Generate ino-color-scheme classes
  @each $color-name in theme.$color-schemes {
    &[ino-color-scheme='#{$color-name}'] {
      .mdc-chip {
        @include chips.fill-color-accessible(theme.color($color-name));
        @include chips.ink-color(theme.color($color-name, contrast));

        ino-icon {
          --icon-color: #{theme.color($color-name, contrast)};
        }
      }

      // Set outline color
      &[ino-fill='outline'] .mdc-chip {
        @include chips.outline-color(theme.color($color-name));
        @include chips.ink-color(theme.color($color-name, dark));

        ino-icon {
          --icon-color: #{theme.color($color-name, dark)};
        }
      }
    }
  }

  // Set outline color
  &[ino-fill='outline'] .mdc-chip {
    @include chips.fill-color-accessible(white);
    @include chips.outline(1px, solid, $default-chip-color);
  }

  .mdc-chip__text {
    user-select: none;
  }
}
