ino-button {
  .button__label {
    pointer-events: none;
  }
}

#demo-custom-content-dialog {
  .customizable-carousel {
    display: block;
    width: 100%;
    height: 20rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  header ino-icon {
    --icon-width: 2rem;
    --icon-height: 2rem;
  }

  header h3 {
    margin: 0;
  }

  footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
}


