@import 'styles/fonts.scss';


ino-datepicker {
  display: block;
  @include ino-font(sans-serif, m, regular);

  .mdc-text-field--with-leading-icon .mdc-text-field__icon,
  .mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 20px;
  }
}


// Customize flatpickr styles

$dayMargin: 2px;
$selectedDayBackground: #003c7d;

.flatpickr-day {
  &.selected, &.startRange, &.endRange {
    &, &.inRange, &:focus, &:hover, &.prevMonthDay, &.nextMonthDay {
      background: $selectedDayBackground;
      border-color: $selectedDayBackground
    }
    // Avoid adding extra fill because it overflows in multimonth mode
    &.startRange + .endRange:not(:nth-child(7n+1)) {
      box-shadow: (-5*$dayMargin) 0 0 $selectedDayBackground
    }
  }
  &.week.selected {
    box-shadow: (-2.5*$dayMargin) 0 0 $selectedDayBackground,
      (2.5*$dayMargin) 0 0 $selectedDayBackground;
  }
}
