stages:
  - build
  - deploy
  - link-latest
  - publish-package

image: node:12.10.0

build:
  stage: build
  script:
    - npm config set scripts-prepend-node-path true
    - yarn install
    - yarn lint
    - yarn build
  cache:
    paths:
      - node_modules/
      - .yarn
  artifacts:
    expire_in: 1 week
    paths:
      - packages/elements/dist/
      - packages/elements-react/dist/
      - packages/elements-angular/dist/
      - packages/storybook/dist/
  tags:
    - shared
  only:
    - master
    - tags

upload:
  stage: deploy
  script:
    - mkdir -p /srv/webhost/dist/$CI_COMMIT_REF_NAME
    - rsync -a packages/elements/dist/ /srv/webhost/dist/$CI_COMMIT_REF_NAME
    - mkdir -p /srv/webhost/dist/$CI_COMMIT_REF_NAME/storybook
    - rsync -a packages/storybook/dist/ /srv/webhost/dist/$CI_COMMIT_REF_NAME/storybook
  tags:
    - elements
    - webhost
    - deploy
  only:
    - master
    - tags

link-latest:
  stage: link-latest
  script:
    - cd /srv/webhost/dist
    - ln -sfn $CI_COMMIT_REF_NAME latest
  tags:
    - elements
    - webhost
    - deploy
  only:
    - tags

publish-package:
  stage: publish-package
  script:
    - yarn install
    - yarn config set //registry.npmjs.org/:_authToken $NPM_TOKEN --silent
    - yarn lerna publish from-package --yes
  cache:
    paths:
      - node_modules/
      - .yarn
  tags:
    - shared
  only:
    - tags
