dist/
www/
coverage/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

storybook-static/

.yalc
yalc.lock

.next
/packages/landingpage-new/out/_next/
/packages/landingpage-new/out/
.nx-cache/
tmp/
