dist/
www/
coverage/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

storybook-static/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
