stages:
  - security
  - test
  - build
  - deploy
  - link-latest

image: node:12.10.0

security-check-gitleaks:
  image:
    name: zricethezav/gitleaks@sha256:a936a25b78d34143034d4adfeadeeabd888640bf1ee076cf7b4b6260fa66c335
    entrypoint: [""]
  stage: security
  tags:
    - shared # this makes use of shared runners
  script:
    - gitleaks --version # check wheter gitleaks is available
    - gitleaks -v --repo-path ./ --config=.gitleaks.toml
  only:
    - master

test:
  stage: test
  image: amio/node-chrome:latest
  script:
    - npm config set scripts-prepend-node-path true
    - yarn install
    - yarn test
  tags:
    - shared

build:
  stage: build
  script:
    - npm config set scripts-prepend-node-path true
    - yarn install
    - yarn lint
    - yarn build
  artifacts:
    expire_in: 1 week
    paths:
      - packages/elements/dist/
      - packages/elements-react/dist/
      - packages/elements-angular/dist/
      - packages/storybook/dist/
  tags:
    - shared

upload:
  stage: deploy
  script:
    - mkdir -p /srv/webhost/dist/$CI_COMMIT_REF_NAME
    - rsync -a packages/elements/dist/ /srv/webhost/dist/$CI_COMMIT_REF_NAME
    - mkdir -p /srv/webhost/dist/$CI_COMMIT_REF_NAME/storybook
    - rsync -a packages/storybook/dist/ /srv/webhost/dist/$CI_COMMIT_REF_NAME/storybook
  tags:
    - elements
    - webhost
    - deploy
  only:
    - master
    - tags

link-latest:
  stage: link-latest
  script:
    - cd /srv/webhost/dist
    - ln -sfn $CI_COMMIT_REF_NAME latest
  tags:
    - elements
    - webhost
    - deploy
  only:
    - tags

publish-package:
  stage: deploy
  script:
    - yarn install
    - curl -$ARTIFACTORY_USERNAME:$ARTIFACTORY_APITOKEN https://artifactory.inovex.de/artifactory/api/npm/auth >> ~/.npmrc
    - yarn lerna publish from-package --yes --registry https://$ARTIFACTORY_HOST
  tags:
    - shared
  only:
    - tags