{
  "packages/core/src/{components,stories,util}/*.{ts,tsx}": ["prettier --write", "tslint --fix", "git add"],
  "packages/core/src/{components,stories,util}/*.{scss}": ["prettier --write", "git add"]
}
