.story-range {
  .flex-parent {
    display: flex;
    flex-wrap: wrap;

    >.flex-child {
      margin: 0 20px;
    }
  }

  .flex-parent-center {
    display: flex;
    justify-content: center;
  }

  .stepped-range-container {
    width: 200px;

    >.flex-child {
      width: 100%;
    }
  }
}
