@use 'base/mdc-customize';
@use 'ino-tooltip/mixins' as tooltip-mixins;
@use 'base/theme';
@import '~tippy.js/animations/scale.css';

$color-schemes: 'primary', 'secondary', 'light';

ino-popover {
  border-radius: 6px;
}

.ino-popover,
[data-tippy-root],
.tippy-box,
.tippy-content,
.ino-tooltip__composer.ino-popover__content,
.ino-tooltip__inner,
.ino-popover__content {
  border-radius: inherit;
}

@each $color in $color-schemes {
  .ino-popover.ino-popover--color-scheme-#{$color} {
    @include tooltip-mixins.tooltip(
      theme.color($color, light),
      theme.color($color, contrast)
    );
  }
}

.ino-popover.ino-popover--color-scheme-transparent {
  @include tooltip-mixins.tooltip(#fff, theme.color(dark));
}
