@use 'base/mdc-customize';
@use '@material/list';
@include list.core-styles;

ino-list {
  display: block;

  .mdc-list--avatar-list .mdc-list-item__graphic {
    overflow: hidden;
  }

  .mdc-list--mixed-line .mdc-list-item {
    height: 64px;
  }

  .mdc-list--mixed-line.mdc-list--dense .mdc-list-item {
    height: 60px;
  }
}
