@use '@material/list/evolution-mixins' as list;

@include list.core-styles;

/**
  * @prop --ino-list-item-border-radius: Border radius of the list container, also effects the first and last list item
 */
ino-list {
  --list-item-border-radius: (var(--ino-list-item-border-radius), 0);

  display: block;
  border-radius: var(--list-item-border-radius);

  $half-border-radius: calc(var(--list-item-border-radius) * 0.5);

  ino-list-item:first-child,
  ino-control-item:first-child {
    overflow: hidden;
    border-top-left-radius: $half-border-radius;
    border-top-right-radius: $half-border-radius;
  }

  ino-list-item:last-child,
  ino-control-item:last-child {
    overflow: hidden;
    border-bottom-left-radius: $half-border-radius;
    border-bottom-right-radius: $half-border-radius;
  }
}
