@use '../styles/mdc-customize';
@use '@material/linear-progress/mdc-linear-progress';
@use '@material/linear-progress';
@use 'styles/colors';

:host {
  /**
   * @Prop --progress-bar--bar-color: Color of the progress bar
   * @Prop --progress-bar--buffer-color: Color of the buffer and buffering dots
   */
  --progress-bar--bar-color: #{colors.$primary};
  --progress-bar--buffer-color: #{colors.ino-color(light, light)};
}

:host {
  @include linear-progress.bar-color(var(--progress-bar--bar-color));

  .mdc-linear-progress {
    .mdc-linear-progress__buffer {
      background-color: var(--progress-bar--buffer-color);
    }
    .mdc-linear-progress__buffering-dots {
      color: var(--progress-bar--buffer-color);
    }
  }
}
