@use './../../../../elements/src/components/base/typography-new';

.secondContainer {
  display: flex;
  justify-content: center;
  height: 448px;
  width: 100%;
  background-color: #e9e5fe;
  border-radius: 267px 0px;

  div {
    padding-top: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
  }

  .title {
    @include typography-new.typo(title-l);
  }

  .text {
    @include typography-new.typo(body-l);
  }
}