.coreAspectsContainer {
  display: flex;
  justify-content: center;
  height: 32rem;
  width: 100%;
  background-color: var(--inovex-elements-p-2);
  border-radius: 19.071rem 0px;
  column-gap: 2.857rem;

  .coreAspect {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 21.429rem;
    text-align: center;
    margin: auto 0;
  }
}

@media only screen and (max-width: 1600px) {
  .coreAspectsContainer {
    .coreAspect {
      width: 15.857rem;
    }
  }
}

@media only screen and (max-width: 1350px) {
  .coreAspectsContainer {
    flex-direction: column;
    row-gap: 2.143rem;
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 5rem 0;

    .coreAspect {
      margin: auto;
      width: 75%;
      height: 21.429rem;

      p {
        margin: 0.5em 0;
      }
    }
  }
}


@media only screen and (max-width: 800px) {
  .coreAspectsContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .coreAspectsContainer {
    .coreAspect {
      height: 25rem;
    }
  }
}
