@use '../styles/mdc-customize';
@use '@material/textfield/mdc-text-field';
@use "@material/floating-label/mdc-floating-label";
@use '@material/textfield';
@use '../styles/colors';

ino-textarea {
  /**
   * @prop --ino-textarea-outline-color: outline color of the textarea
   * @prop --ino-textarea-caret-color: color of the caret
   * @prop --ino-textarea-label-color: color of the label
   */
  --textarea-outline-color: var(--ino-textarea-outline-color, #{colors.ino-color(primary)});
  --textarea-caret-color: var(--ino-textarea-caret-color, #{colors.ino-color(primary)});
  --textarea-label-color: var(--ino-textarea-label-color, #{colors.ino-color(primary)});
}

ino-textarea {
  display: block;

  .mdc-text-field.mdc-text-field--focused:not(.mdc-text-field--invalid) {
      @include textfield.focused-outline-color(var(--textarea-outline-color));
      @include textfield.caret-color(var(--textarea-caret-color));
      @include textfield.label-color(var(--textarea-label-color));
    }
}
