@use '../base/mdc-customize';
@use '@material/textfield/mdc-text-field';
@use '@material/floating-label/mdc-floating-label';
@use '@material/textfield';
@use '../base/new-theme' as theme;

ino-textarea {
  /**
   * @prop --ino-textarea-outline-color: Outline color of the textarea. [color:#4655ff]
   * @prop --ino-textarea-caret-color: Color of the caret. [color:#4655ff]
   * @prop --ino-textarea-label-color: Color of the label. [color:#4655ff]
   */
  --textarea-outline-color: var(--ino-textarea-outline-color, #{theme.$p-5});
  --textarea-caret-color: var(--ino-textarea-caret-color, #{theme.$p-5});
  --textarea-label-color: var(--ino-textarea-label-color, #{theme.$p-5});
}

ino-textarea {
  display: block;

  .mdc-text-field {
    width: inherit;
    height: inherit;
  }

  .mdc-text-field.mdc-text-field--focused:not(.mdc-text-field--invalid) {
    @include textfield.focused-outline-color(var(--textarea-outline-color));
    @include textfield.caret-color(var(--textarea-caret-color));
    @include textfield.label-color(var(--textarea-label-color));
  }

  &:not(.ino-textarea--outline) ino-label .mdc-floating-label {
    left: 16px;
  }
}
