@use '@material/switch/mdc-switch';
@use '@material/switch';
@use 'styles/colors';

// Shadows
$small-shadow: 0 4px 8px 0 rgba(61, 64, 245, 0.3),
0 12px 28px 0 rgba(61, 214, 245, 0.14);
$big-shadow: 0 8px 16px 0 rgba(61, 64, 245, 0.3),
0 16px 32px 0 rgba(61, 214, 245, 0.14);

@mixin setColors($map, $selector: "") {
  #{$selector} .mdc-switch {
    @include switch.toggled-on-color(map-get($map, base));
    @include switch.toggled-on-thumb-color(map-get($map, base));

    &:hover {
      .mdc-switch__thumb {
        background-color: #fff;
        border-color: map_get($map, light);
        box-shadow: $small-shadow;
      }

      .mdc-switch__track {
        background-color: map-get($map, light);
        border-color: map-get($map, light);
      }
    }

    &:active {
      .mdc-switch__thumb {
        background-color: #fff;
        box-shadow: $big-shadow;
        border-color: map_get($map, dark);
      }
      .mdc-switch__track {
        background-color: map-get($map, dark);
        border-color: map-get($map, dark);
      }
    }
  }

}

label {
  margin-left: 10px;
}

// Default option
:not([ino-color-scheme]) {
  @include setColors(map-get(colors.$ino-color-scheme, primary));
}

// Generate ino-color-scheme classes
@each $color-name, $map in colors.$ino-color-scheme {
  $selector: '[ino-color-scheme="#{$color-name}"]';

  @include setColors($map, $selector);
}

ino-switch {
  .mdc-switch {
    top: -3px;

    &:not(.mdc-switch--checked) .mdc-switch__thumb {
      border-color: colors.ino-color(light, base);
    }

    &.mdc-switch--disabled {
      @include switch.toggled-on-color(colors.$light);
      @include switch.toggled-on-thumb-color(colors.$light);
      @include switch.toggled-off-color(colors.$light);
      @include switch.toggled-off-thumb-color(colors.$light);
    }
  }

  .mdc-switch__thumb-underlay {
    top: -23px;

    &:before, &:after {
      display: none;
    }
  }

  .mdc-switch__track {
    height: 2px;
    border: none;
  }

  .mdc-switch__thumb {
    height: 16px;
    width: 16px;
    border: 2px solid;
  }
}
