@use 'base/mdc-customize';
@use '@material/switch';
@use '@material/switch/styles';
@use 'base/theme';
@use 'base/new-theme' as colors;



@mixin set-track-border-color {
  .mdc-switch__track {
    border: 1.5px solid white;
    margin: -1.5px;
    box-shadow: 0 0 0 5px colors.$primary-focus;
  }
}

ino-switch {
  @include switch.theme(
    (
      selected-handle-color: white,
      selected-hover-handle-color: white,
      selected-focus-handle-color: white,
      selected-pressed-handle-color: white,
      disabled-selected-handle-color: colors.$n-6,
      selected-track-color: colors.$primary,
      selected-hover-track-color: colors.$primary,
      selected-focus-track-color: colors.$primary,
      selected-pressed-track-color: colors.$primary,
      unselected-focus-track-color: colors.$n-5,
      unselected-hover-track-color: colors.$n-5,
      disabled-selected-track-color: transparent,
    )
  );
  .mdc-switch--selected:focus,
  .mdc-switch--unselected:focus {
    @include set-track-border-color;
  }

  .mdc-switch {
    &--selected {
      .mdc-switch__handle {
        margin-left: -2px;
      }
    }
    &--unselected {
      .mdc-switch__handle {
        margin-left: 2px;
      }
    }
  }

  // custom disabled state styling
  .mdc-switch:disabled {
    .mdc-switch__track {
      opacity: 1;
      border: 2px solid colors.$n-6;
      margin: -1.5px;
    }
    .mdc-switch__handle::after {
      opacity: 1;
    }
  }
}

ino-switch {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 30px;
  cursor: pointer;

  &.ino-switch-disabled {
    cursor: default;
    pointer-events: none;
  }

  // set basic styles, DOES NOT SUPPORT CSS-VARS
  @include switch.theme(
    (
      track-height: 20px,
      track-width: 36px,
      track-shape: 18px,
      handle-height: 16px,
      handle-width: 16px,
      handle-shape: 14px,
      selected-icon-size: 10px,
      unselected-icon-size: 10px,
      handle-surface-color: white,
      unselected-handle-color: white,
      unselected-track-color: colors.$n-6,
      disabled-unselected-handle-color: colors.$n-6,
      disabled-unselected-track-color: transparent,
      unselected-hover-handle-color: white,
      unselected-focus-handle-color: white,
      unselected-pressed-handle-color: white,
    )
  );

  // hide ripple effect
  .mdc-switch__ripple {
    display: none;
  }
}
