.sbdocs.sbdocs-content:has(#anchor--input-ino-option--default) {
  [scale] {
    width: 400px;
    display: flex;
    justify-content: center;

    .innerZoomElementWrapper > div > div {
      width: 250px;
      overflow: unset;
    }
  }
}