@import 'styles/tooltip.scss';

ino-popover {

  // Hide popover, as long as it's not moved by the js plugin.
  > .ino-popover__content {
    display: none;
  }

  // A popover is basically a tooltip
  @include tooltip(#FFF, #000);

  > .ino-popover__content {
    padding-right: 5px;
    padding-left: 5px;

  }
}
