.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openExternallyButton {
  position: fixed;
  bottom: 60px;
  right: -215px;
  z-index: 10;
  transition: right 200ms;

  &:hover {
    right: 0;
  }

  &Icon {
    --ino-icon-color-primary: white;
  }
}

.openExternallySelect {
  position: fixed;
  height: 80px;
  bottom: 120px;
  z-index: 10;
  right: -190px;
  transition: right 200ms;
  &:hover {
    right: 0;
  }

  ino-select {
    width: 170px;
  }
}
