@use './../../../../elements/src/components/base/typography-new';

.contributorCard {
  width: 200px;
}

.Image {
  border-radius: 50%;
}

.role {
  @include typography-new.typo(body-s);
  color: rgba(0, 0, 0, 0.6);
}

.footer {
  max-width: 200px;
}

.center {
  text-align: center;
  @include typography-new.typo(body-l);
}