@use './../../../../elements/src/components/base/typography-new';

h1.header {
  @include typography-new.typo(display-3);
  font-weight: lighter;
  color: #232527;
  margin-top: 0;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}