@use '../styles/mdc-customize';
@use '@material/tab/mdc-tab';
@use '@material/tab';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '../styles/colors';
@use '../styles/fonts';

ino-tab {
  .mdc-tab {
    @include fonts.ino-font(sans-serif, s, regular);
    @include tab.active-text-label-color(colors.$primary);
    @include tab.active-states-color(colors.$primary);
    @include tab.states-color(colors.$primary);

    ino-icon {
      --icon-color: buttontext;
    }

    &.mdc-tab--active ino-icon {
      --icon-color: #{colors.ino-color(primary, base)}
    }

    .mdc-tab-indicator__content--underline {
      border-color: colors.ino-color(primary, base);
    }
  }

  ino-icon {
    --icon-width: 14px;
    --icon-height: 26px;
  }
}
