.subtitle {
  color: var(--inovex-elements-n-11);
}

.container {
  display: flex;
  align-items: center;
  gap: 75px;

  @media only screen and (max-width: 1400px) {
    gap: 40px;
  }

  @media only screen and (max-width: 1000px) {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .arrowButton {
    display: none;
  }
}

.carouselContainer {
  flex: 1;
  aspect-ratio: 16 / 9;
}

.slideshow {
  --ino-carousel-width: 100%;
  --ino-carousel-height: 100%;
  height: 100%;
  width: 100%;
  flex: 1;
  text-align: center;
  margin-top: 30px;

  [class~='ino-carousel__slides'] {
    margin: 2px;
    box-shadow: 5px 5px 15px var(--inovex-elements-n-2);
  }
}
