.container {
    display: flex;
    justify-content: space-between;
}

.claimContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-weight: 500 !important;
  color: var(--inovex-elements-n-11);
}
