@use './../../../../elements/src/components/base/typography-new';

$minmax: minmax(210px, 316px);

h1.header {
  @include typography-new.typo(display-3);
  font-weight: lighter;
  color: #232527;
  margin-top: 0;
  margin-bottom: 4px;
}

.subHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 8px;
  @include typography-new.typo(body-l);

  .subheader {
    max-width: 644px;
    color: #3a3b64;
  }

  .link {
    margin: 16px 0; // same margins as <p>
  }
}


.componentGrid {
  display: grid;
  grid-template-columns: repeat(4, $minmax);
  grid-template-rows: repeat(2, 258px);
  grid-template-areas:
    'chip slider snackbar input'
    'toggle control-item segment-group segment-group';
  justify-content: space-evenly;
  gap: 35px;
  padding-top: 60px;

  @media only screen and (max-width: 1360px) {
    grid-template-columns: repeat(2, $minmax);
    grid-template-rows: repeat(4, 258px);
    grid-template-areas:
      'chip slider'
      'snackbar input'
      'toggle control-item'
      'segment-group segment-group';
  }

  @media only screen and (max-width: 660px) {
    grid-template-columns: $minmax;
    grid-template-rows: repeat(7, 258px);
    grid-template-areas:
      'chip'
      'slider'
      'snackbar'
      'input'
      'toggle'
      'control-item'
      'segment-group';
  }
}

.chips {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.input ino-input {
  width: 80%;
}

.slider {
  grid-area: slider;

  .range {
    width: 87%;
  }
}

.segmentgroup {
  grid-area: segment-group;
}
