.card {
  height: 100%;
  width: 100%;
}

.footer {
  position: absolute;
  left: 1.714rem;
  bottom: 1.571rem;
}

.component {
  font-weight: bold !important;
}

.label {
  font-weight: lighter !important;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin-top: 3.571rem;
}
