@use './../../../../elements/src/components/base/typography-new';

.card {
  height: 100%;
  width: 100%;
}

.footer {
  position: absolute;
  left: 24px;
  bottom: 22px;
}

.component {
  @include typography-new.typo(body-m);
  font-weight: bold;
}

.label {
  @include typography-new.typo(body-m);
  font-weight: lighter;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin-top: 50px;
}
