$minmax: minmax(15rem, 22.571rem);

.subHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 0.571rem;

  .subheader {
    max-width: 46rem;
    color: var(--inovex-elements-n-11);
  }

  .link {
    margin: 1.143rem 0; // same margins as <p>
  }
}


.componentGrid {
  display: grid;
  grid-template-columns: repeat(4, $minmax);
  grid-template-rows: repeat(2, 18.429rem);
  grid-template-areas:
    'chip slider snackbar input'
    'toggle control-item segment-group segment-group';
  justify-content: space-evenly;
  gap: 2.5rem;
  padding-top: 4.286rem;

  @media only screen and (max-width: 1360px) {
    grid-template-columns: repeat(2, $minmax);
    grid-template-rows: repeat(4, 18.429rem);
    grid-template-areas:
      'chip slider'
      'snackbar input'
      'toggle control-item'
      'segment-group segment-group';
  }

  @media only screen and (max-width: 660px) {
    grid-template-columns: $minmax;
    grid-template-rows: repeat(7, 18.429rem);
    grid-template-areas:
      'chip'
      'slider'
      'snackbar'
      'input'
      'toggle'
      'control-item'
      'segment-group';
  }
}

.chips {
  display: flex;
  justify-content: center;
  gap: 1.071rem;
  width: 100%;
}

.input ino-input {
  width: 80%;
}

.slider {
  grid-area: slider;

  .range {
    width: 87%;
  }
}

.segmentgroup {
  grid-area: segment-group;
}
