@use 'base/theme';
@use './transitions';

$tile-margin: 1.5px;

@mixin bounce-color($color) {
  > div {
    background-color: $color;
  }
}

@mixin bounce() {
  @include bounce-color(theme.color(primary));

  .ino-spinner__double-bounce-1,
  .ino-spinner__double-bounce-2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.65;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s infinite ease-in-out;
  }
  .ino-spinner__double-bounce-2 {
    @include transitions.animation-delay(-1s);
  }

  @keyframes sk-bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
}
