@use './transitions';
@use 'base/theme';

@mixin circle-color($color) {
  > div:before {
    background-color: $color;
  }
}

@mixin circle() {
  @include circle-color(theme.color(primary));

  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: none;

    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      border-radius: 100%;
      animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    }
  }
  .ino-spinner__circle-2 {
    @include transitions.rotate(30deg);
  }
  .ino-spinner__circle-3 {
    @include transitions.rotate(60deg);
  }
  .ino-spinner__circle-4 {
    @include transitions.rotate(90deg);
  }
  .ino-spinner__circle-5 {
    @include transitions.rotate(120deg);
  }
  .ino-spinner__circle-6 {
    @include transitions.rotate(150deg);
  }
  .ino-spinner__circle-7 {
    @include transitions.rotate(180deg);
  }
  .ino-spinner__circle-8 {
    @include transitions.rotate(210deg);
  }
  .ino-spinner__circle-9 {
    @include transitions.rotate(240deg);
  }
  .ino-spinner__circle-10 {
    @include transitions.rotate(270deg);
  }
  .ino-spinner__circle-11 {
    @include transitions.rotate(300deg);
  }
  .ino-spinner__circle-12 {
    @include transitions.rotate(330deg);
  }
  .ino-spinner__circle-2:before {
    @include transitions.animation-delay(-1.1s);
  }
  .ino-spinner__circle-3:before {
    @include transitions.animation-delay(-1s);
  }
  .ino-spinner__circle-4:before {
    @include transitions.animation-delay(-0.9s);
  }
  .ino-spinner__circle-5:before {
    @include transitions.animation-delay(-0.8s);
  }
  .ino-spinner__circle-6:before {
    @include transitions.animation-delay(-0.7s);
  }
  .ino-spinner__circle-7:before {
    @include transitions.animation-delay(-0.6s);
  }
  .ino-spinner__circle-8:before {
    @include transitions.animation-delay(-0.5s);
  }
  .ino-spinner__circle-9:before {
    @include transitions.animation-delay(-0.4s);
  }
  .ino-spinner__circle-10:before {
    @include transitions.animation-delay(-0.3s);
  }
  .ino-spinner__circle-11:before {
    @include transitions.animation-delay(-0.2s);
  }
  .ino-spinner__circle-12:before {
    @include transitions.animation-delay(-0.1s);
  }
  @keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
}
