@use '../base/theme';
@use './transitions';

$tile-margin: 1px;

@mixin tile-color($color) {
  > div:before {
    background-color: $color;
  }
}

@mixin tile() {
  @include tile-color(theme.color(primary));

  > div {
    display: inline-block;
    height: 100%;

    box-sizing: border-box;
    width: 20%;
    padding: $tile-margin;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;

    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .ino-spinner__rect2 {
    @include transitions.animation-delay(-1.1s);
  }
  .ino-spinner__rect3 {
    @include transitions.animation-delay(-1s);
  }
  .ino-spinner__rect4 {
    @include transitions.animation-delay(-0.9s);
  }
  .ino-spinner__rect5 {
    @include transitions.animation-delay(-0.8s);
  }

  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
    }
  }
}
