@import '@inovex.de/elements/dist/inovex-elements/inovex-elements.css';
@import './guide.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root h1.header-d2,
h1.header-d3 {
  font-weight: lighter !important;
  color: #232527;
}

:root b {
  font-weight: bold; /* for firefox */
}

* {
  box-sizing: border-box;
}

ino-chip * {
  /* mdc chip works with box-sizing: content-box which gets overwritten by global styles */
  box-sizing: initial;
}
