@import '@inovex.de/elements/dist/inovex-elements/inovex-elements.css';
@import '@inovex.de/ui-patterns/dist/style.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

:root .blur-bg {
  position: absolute;
  inset: 0;
  z-index: -10;
  background: radial-gradient(circle at 15% 11%, var(--inovex-elements-p-2) 2%, transparent 17%),
    radial-gradient(circle at 75% 50%, var(--inovex-elements-p-2) 1%, transparent 50%);
  filter: blur(10rem);
}

:root h1.header-d2,
h1.header-d3 {
  font-weight: lighter !important;
  color: #232527;
}

:root b {
  font-weight: bold;
  /* for firefox */
}

* {
  box-sizing: border-box;
}

ino-chip * {
  /* mdc chip works with box-sizing: content-box which gets overwritten by global styles */
  box-sizing: initial;
}

ino-select:not(.hydrated) * {
  display: none;
}

ino-popover:not(.hydrated) * {
  display: none !important;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  row-gap: 80px;
}

.section-container section:first-child {
  margin: 80px 0 0 0;
}
