.inovex-elements-typo h1 {
  font-size: 40px;
}

.inovex-elements-typo h2 {
  margin-top: 80px;
}

p {
  line-height: 25px;
}

/* TODO: Typography above needs to be standardised/specified in elements package */

.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  row-gap: 80px;
}

.section-container section:first-child {
  margin: 80px 0 0 0;
}
