@use 'base/theme';

// Import the different spinner styles
@use './mixins/bounce';
@use './mixins/circle';
@use './mixins/tile';

@mixin set-spinner-color($color) {
  &.ino-spinner--type-tile .ino-spinner__composer {
    @include tile.tile;
    @include tile.tile-color($color);
  }

  &.ino-spinner--type-bounce .ino-spinner__composer {
    @include bounce.bounce;
    @include bounce.bounce-color($color);
  }

  &.ino-spinner--type-circle .ino-spinner__composer {
    @include circle.circle;
    @include circle.circle-color($color);
  }
}

ino-spinner {
  // Styles for all spinners
  .ino-spinner__composer {
    font-size: 10px;
    display: inline-block;
    position: relative;
  }

  &.ino-spinner--color-scheme-primary {
    @include set-spinner-color(theme.color(primary));
  }


  // Modal
  &.ino-spinner--modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.95);

    .ino-spinner__composer {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
