@use '../styles/mdc-customize';
@use '../styles/variables';
@use '../styles/colors';

// Import the different spinner styles
@use './styles/bounce.mixins' as bounce;
@use './styles/circle.mixins' as circle;
@use './styles/tile.mixins' as tile;

ino-spinner {
  // Styles for all spinners
  .ino-spinner__composer {
    font-size: 10px;
    display: inline-block;
    position: relative;
  }

  // Include different styles depending on the ino-type attribute
  &:not([ino-type]) .ino-spinner__composer,
  &[ino-type='tile'] .ino-spinner__composer {
    @include tile.tile();
  }
  &[ino-type='bounce'] .ino-spinner__composer {
    @include bounce.bounce;
  }
  &[ino-type='circle'] .ino-spinner__composer {
    @include circle.circle;
  }

  // Generate ino-color-scheme classes
  @each $color-name in colors.$ino-color-schemes {
    &[ino-color-scheme='#{$color-name}'] {
      // Generate for each color class and type the color styles
      &:not([ino-type]) .ino-spinner__composer,
      &[ino-type='tile'] .ino-spinner__composer {
        @include tile.tile-color(colors.ino-color($color-name));
      }
      &[ino-type='bounce'] .ino-spinner__composer {
        @include bounce.bounce-color(colors.ino-color($color-name));
      }
      &[ino-type='circle'] .ino-spinner__composer {
        @include circle.circle-color(colors.ino-color($color-name));
      }
    }
  }

  // Modal
  &[ino-modal]:not([ino-modal='false']) {
    position: fixed;
    z-index: variables.$z-index-spinner;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.95);

    .ino-spinner__composer {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
