.container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.chipContainer {
  width: 350px;
}

.icon {
  height: 25px;
  width: 25px;
  opacity: 0.3;
  transition: opacity 1s;
  position: relative;

  &Active {
    opacity: 1;
  }
}
