.story-ino-table-header-cell {
  ino-table {
    display: block;
    margin-bottom: 40px;
  }

  .ino-table-header-cell__popover-content ino-input {
    padding: 0 20px 20px;
  }

  ino-table-header-cell {
    min-width: 230px;
  }
}
