.sbdocs.sbdocs-content:has(#anchor--structure-ino-table-header-cell--default) {
  [scale] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ino-table {
    display: block;
    margin-bottom: 40px;
    width: fit-content;
  }

  .ino-table-header-cell__popover-content ino-input {
    padding: 0 20px 20px;
  }

  ino-table-header-cell {
    min-width: 230px;
  }
}