@use '../../../elements/src/components/base/typography';

.main {
  display: flex;
  flex-direction: column;
  p:not(.heading) {
    @include typography.font($size: m, $weight: regular);
    color: #3a3b64;
  }
  .firstContainer {
    overflow: visible;
    margin-top: 238px;
    display: flex;
    .sub {
      width: 627px;
    }
    .heading {
      font-size: 3.1em;
      letter-spacing: 0.53px;
      font-weight: lighter;

      mark {
        background-color: #e9e5fe;
      }
    }
    .docs {
      display: flex;
      flex-direction: column;
      padding-top: 50px;

      .animation {
        display: flex;
        padding-top: 15px;
        .commands {
          width: 45%;
        }

        .animateCommand {
          opacity: 0;
          animation-name: commands;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          animation-duration: 3s;
        }

        @keyframes commands {
          0% {
            opacity: 0;
          }
          10% {
            opacity: 1;
          }
          90% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }

        .animateLogo {
          display: flex;
          div {
            opacity: 0.4;
            animation-name: logos;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-duration: 12s;

            @keyframes logos {
              0% {
                opacity: 0.4;
              }
              5% {
                opacity: 1;
              }

              20% {
                opacity: 1;
              }

              25% {
                opacity: 0.4;
              }
            }

            &:nth-child(2) {
              animation-delay: 3s;
            }
            &:nth-child(3) {
              animation-delay: 6s;
            }
            &:nth-child(4) {
              animation-delay: 9s;
            }

            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }

  .imageContainer {
    height: 686px;
    margin-top: -100px; //Proportional? Asset isnt cropped as in adobexd.

    img {
      height: 100%;
    }
  }

  .secondContainer {
    display: flex;
    justify-content: center;
    margin-top: 348px;
    height: 448px;
    width: 100%;
    background-color: #e9e5fe;
    border-radius: 267px 0px;
    margin-top: 85px;

    div {
      padding-top: 122px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      text-align: center;
    }

    .title {
      font-size: 22px;
      font-weight: 900;
    }

    .text {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .firstAbstract {
    width: 800px;
  }
  .secondAbstract {
    float: right;
    text-align: right;
    width: 800px;
  }

  .firstAbstract,
  .secondAbstract {
    .heading {
      font-size: 3.1em;
    }
  }
}
