$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);

$n-8: #F8F9FB;
$n-7: #EDEFF5;
$n-6: #CBD0E0;
$n-5: #ABB1CC;
$n-4: #8D92B7;
$n-3: #7275A1;
$n-2: #565785;
$n-1: #3A3B64;

$primary: #2C02FF;
$primary-focus:#2D5DFF4D;