$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);

// Neutrals
$n-1: #f4f4f7;
$n-2: #dfdee6;
$n-3: #cac8d5;
$n-4: #b6b4c4;
$n-5: #a3a0b3;
$n-6: #908da2;
$n-7: #7e7b91;
$n-8: #6d6a80;
$n-9: #5d5b69;
$n-10: #4c4b52;
$n-11: #39383c;
$n-12: #191919;

// Primary Blue
$primary: #2c02ff;
$primary-focus: #2d5dff4d;

$p-1: #f6fafe;
$p-2: #e2ecff;
$p-3: #beccff;
$p-4: #8aa1ff;
$p-5: #4655ff;
$p-6: #2d02ff;
$p-7: #1801e1;
$p-8: #0801c4;
$p-9: #0106a6;
$p-10: #000e88;
$p-11: #00126a;
$p-12: #00124d;

//Alert Colors
$informational: #2d5dff;
$informational-light: #d6e0ff;
$success: #6cf070;
$success-light: #d7fad8;
$error: #ff2e54;
$error-light: #ffd6de;
$warning: #ffa42e;
$warning-light: #ffeed6;
