@use './mdc-customize';
@use './new-theme' as theme;
@use '~tippy.js/animations/scale-subtle.css';
@use '~tippy.js/dist/svg-arrow.css';
@use '~tippy.js/dist/tippy.css';
@use './typography' as typo;

$border-radius: 10px;
$shadow-color: rgba(theme.$n-10, 0.35);

@mixin tooltip($background-color, $font-color) {
  background: $background-color;
  color: $font-color;

  & .tippy-content {
    background-color: $background-color;
  }

  & > .tippy-svg-arrow {
    fill: $background-color;

    svg {
      fill: $background-color;
    }
  }
}

// global styles
.tippy-box {
  @include typo.font(sans-serif, m, regular);
  border-radius: $border-radius;
  z-index: 9999;
}

.tippy-content {
  border-radius: $border-radius;
}

// set up custom themes for tippy.js
.tippy-box[data-theme~='light'] {
  box-shadow: 0 0 15px 0 $shadow-color;
  @include tooltip(theme.$white, theme.$black);

  & > .tippy-svg-arrow svg {
    filter: drop-shadow(0 -6px 3px $shadow-color);
  }
}

.tippy-box[data-theme~='dark'] {
  @include tooltip(theme.$n-9, theme.$white);
}

.tippy-box[data-theme~='primary'] {
  @include tooltip(theme.$p-3, theme.$p-6);
}
