@use '../base/mdc-customize';
@use './new-theme' as theme;
@import '~tippy.js/animations/scale-subtle.css';
@import '../base/typography';

@mixin tooltip($background-color, $font-color) {
    @include font(sans-serif, m, regular);

    // position: absolute;
    z-index: 9999;
    background: $background-color;
    color: $font-color;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.ino-popover > * {
  border-radius: 6px;
}

.ino-popover.ino-popover--color-scheme-light > * {
    @include tooltip(theme.$white, theme.$black);
}
.ino-popover.ino-popover--color-scheme-dark > * {
    @include tooltip(theme.$n-9, theme.$white);
}
.ino-popover.ino-popover--color-scheme-primary > * {
    @include tooltip(theme.$p-3, theme.$p-6);
}

// ino-tooltip

ino-tooltip .ino-tooltip__composer {
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0;
  padding: 4px 8px;
  border-radius: 6px;
}


// ino-tooltip.ino-tooltip--color-scheme-primary {
//   .ino-tooltip__composer {
//     @include tooltip(
//         theme.color(primary, light),
//         theme.color(primary, contrast)
//     );
//   }
// }

// ino-tooltip.ino-tooltip--color-scheme-transparent {
//   .ino-tooltip__composer {
//     @include tooltip(#fff, theme.color(dark));
//   }
// }
