@use '../base/mdc-customize';
@use '@material/button/mdc-button';
@use '@material/button';
@use '../base/theme';
@use '../base/typography';

ino-segment-group.ino-segment-group {
  width: fit-content;
  display: flex;
  border: none;
  border-radius: 24px 0 24px 24px;
  box-shadow: 0 0 0 1pt #e8edff;
}
