@use '@material/button/mdc-button';
@use '@material/button';
@use 'styles/colors';
@use 'styles/fonts';

$left-segment-border: 0 0 0 24px;
$right-segment-border: 0 24px 24px 0;

:host {
  display: inline-block;

}

ino-segment-group ino-segment-button {
  float: left;

  &:not(:last-child) button {
    border-right: none;
  }

  &:first-child button {
      @include button.shape-radius($left-segment-border);
  }

  &:last-child button {
    @include button.shape-radius($right-segment-border);
  }

  &:hover, &:active, &[checked] {
    button {
      border-right: 1px solid;
    }

    & + ino-segment-button {
      button {
        border-left: none;
      }
    }
  }
}




