ino-icon {
  span {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
    
    svg {
      height:1em;
      width:1em;
      bottom: -0.0875em;
      position: absolute;
      fill: currentColor;
    }
  }
}