.popover-content {
    padding: 0.5rem;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .optionList {
        overflow: scroll;
        height: 100%;
        margin: 10px 0;
    }

    & footer {
       border-top: 1px solid black;
    }
}



