@use 'base/mdc-customize';
@use '@material/form-field/mdc-form-field';
@use '@material/radio/mdc-radio';
@use '@material/radio';
@use 'base/theme';

@mixin animateInnerCircle($scale) {
  .mdc-radio__background .mdc-radio__inner-circle {
    transform: scale($scale);
  }
}

$radio-unchecked-color: #ABB1CC;
$radio-checked-color: #2C02FF;
$radio-hover-color: #4B4EFF;
$radio-active-color: #2C02FF;
$radio-disabled-color: #CBD0E0;
$radio-focus-color: #2D5DFF4D;

:host {
  .mdc-radio {
    @include radio.unchecked-stroke-color($radio-unchecked-color);
    @include radio.checked-stroke-color($radio-checked-color);
    @include radio.ink-color($radio-checked-color);
    @include radio.disabled-unchecked-stroke-color($radio-disabled-color);
    @include radio.disabled-checked-stroke-color($radio-disabled-color);
    @include radio.disabled-ink-color($radio-disabled-color);

    .mdc-radio__outer-circle {
      border-width: 1.5px;
    }

    &:before,
    &:after {
      display: none;
    }
  }


  :hover .mdc-radio:not(.mdc-radio--disabled) {
    @include radio.unchecked-stroke-color($radio-hover-color);
    @include radio.checked-stroke-color($radio-hover-color);
    @include radio.ink-color($radio-hover-color);
    @include animateInnerCircle(0.5);
  }

  :active .mdc-radio:not(.mdc-radio--disabled) {
    @include radio.unchecked-stroke-color($radio-active-color);
    @include radio.checked-stroke-color($radio-active-color);
    @include radio.ink-color($radio-active-color);
    @include animateInnerCircle(0.7);
  }

  .mdc-radio--disabled {
    ~ label {
      color: $radio-disabled-color;
    }
  }
}

:host(.ino-radio--checked) {
  .mdc-radio {
    @include animateInnerCircle(0.6);
  }

  .mdc-radio__inner-circle {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
}

:host(.ino-checked-hover) .mdc-form-field .mdc-radio {
  @include animateInnerCircle(0.25);
  @include radio.unchecked-stroke-color($radio-hover-color);
  @include radio.checked-stroke-color($radio-hover-color);
  @include radio.ink-color($radio-hover-color);
}

:host(ino-radio:not([checked='true'])) {
  .mdc-radio:hover {
    .mdc-radio__inner-circle {
      transform: scale(0.45);
      -webkit-transform: scale(0.45);
      border-color: $radio-hover-color;
    }

    .mdc-radio__outer-circle {
      border-color: $radio-hover-color;
    }
  }
}

:host(:focus) .mdc-radio__outer-circle {
  box-shadow: 0px 0px 0px 4px $radio-focus-color;
}
