@import '@material/form-field/mdc-form-field';
@import '@material/radio/mdc-radio';

$disabled-color: ino-color(dark, light);

:host {
  .mdc-radio {
    @include mdc-radio-unchecked-stroke-color(ino-color(light, dark));
    @include mdc-radio-checked-stroke-color(ino-color(primary));
    @include mdc-radio-ink-color(ino-color(primary));

    &:before,
    &:after {
      background-color: ino-color(primary);
    }

    &--disabled {
      @include mdc-radio-unchecked-stroke-color($disabled-color);
      @include mdc-radio-checked-stroke-color($disabled-color);
      @include mdc-radio-ink-color($disabled-color);
    }
  }

  &[disabled]:not([disabled="false"]) label {
    color: $disabled-color;
  }
}
