.story-icon {
  .flex-parent-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* center items horizontally, in this case */
  }

  .icon-search-input {
    width: 200px;
  }

  ino-chip-set.icon-collection ino-icon {
    --icon-color: #3d40f5;
  }
}
