.story-icon {
  .customizable-icon,
  .preview-icon {
    margin: 5px;
  }

  ino-icon.customizable-icon {
    --icon-height: 3em;
    --icon-width: 3em;
  }

  ino-icon.preview-icon {
    --icon-height: 2em;
    --icon-width: 2em;
  }

  .customizable-input {
    margin-top: 0;
  }

  .flex-parent-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* center items horizontally, in this case */

    .flex-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .flex-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .mdc-chip-set {
    display: flex;
    justify-content: space-between;
  }

  ino-chip-set.icon-collection ino-icon {
    --icon-color: #3d40f5;
  }
}
