@mixin StrongText($color: #232527) {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.009em;
  color: $color;
}

@mixin LightText($color: #232527) {
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: $color;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px;

  a {
    text-decoration: none;
  }
}

.card {
  width: 277px;
  height: 392px;
  margin-right: 50px;
  box-shadow: 0px 0px 18px rgba(20, 20, 20, 0.07),
    0px 0px 8.08158px rgba(20, 20, 20, 0.0456112),
    0px 0px 5.20969px rgba(20, 20, 20, 0.035),
    0px 2px 1px rgba(20, 20, 20, 0.0243888);
  border-radius: 5px;
  &:last-child {
    background-image: url('./resource-pattern.svg');
  }
}

.header {
  @include StrongText($color: #000e88);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
  height: 174px;
  background: linear-gradient(
    360deg,
    rgba(190, 204, 255, 0.2) -26.15%,
    rgba(190, 204, 255, 0) 136.49%
  );
  text-align: center;
}

.Image {
  object-fit: contain;
}

.content {
  @include LightText($color: #00126a);
  padding: 16px 0 16px 32px;
}

.footer {
  @include StrongText($color: #39383c);
  padding: 0 0 0 32px;
}
