.row {
  display: flex;
  flex-wrap: wrap;
  gap: 3.571rem;
  padding: 2.857rem 0.357rem 0.357rem;
  @media (max-width: 876px) {
    justify-content: center;
  }
}

.card,
.sampleCard {
  position: relative;
  width: 19.786rem;
  height: 28rem;

  box-shadow: 0rem 0rem 1.286rem rgba(20, 20, 20, 0.07),
    0rem 0rem 0.577rem rgba(20, 20, 20, 0.0456112),
    0rem 0rem 0.372rem rgba(20, 20, 20, 0.035),
    0rem 0.143rem 0.071rem rgba(20, 20, 20, 0.0243888);
  border-radius: 0.357rem;
}

.sampleCard {
  background-image: url('./assets/resource-pattern.svg');
}

.header {
  text-align: center;
  color: var(--inovex-elements-p-10);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.786rem;
  height: 12.429rem;
  background: linear-gradient(
    360deg,
    rgba(190, 204, 255, 0.2) -26.15%,
    rgba(190, 204, 255, 0) 136.49%
  );
}

.Image {
  mix-blend-mode: multiply;
  object-fit: contain;
}
.content {
  padding: 1.143rem 0 1.143rem 2.286rem;
  color: var(--inovex-elements-p-11);

  &:last-child {
    color: var(--inovex-elements-p-10);
  }
}

.footer {
  color: var(--inovex-elements-n-11);
  padding: 0 2.286rem;
}

.linkIcon {
  position: absolute;
  bottom: 0.786rem;
  right: 0.786rem;
}
