.row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
  
    ino-card {
      margin-right: 50px;
    }
    a {
      text-decoration: none;
    }
  }
  
  .title {
    display: flex;
    justify-content: center;
    min-height: 80px;
  }
  
  .header {
    word-wrap: break-word;
    min-width: 200px;
    max-width: 400px;
  }
  
  .Image {
    object-fit: contain;
  }
  
  .footer {
    font-weight: lighter;
  }