@import "@material/list/mdc-list";

ino-list-item {
  display: block;

  .ino-list-item__icon {
    font-size: 24px;
  }

  .mdc-list-item__graphic:empty {
    display: none;
  }

  ino-img .ino-img__image {
    width: 100%;
    height: auto;
  }
}
