// Inovex Colors

// Private variables.
// Use the ino-color() function to access colors.
$inovex: #003c7e;

$_primary: #3d40f5;
$_primary-light: #5d60f7;
$_primary-dark: #0d10f3;
$_primary-contrast: #fff;

$_secondary: #9ccd00;
$_secondary-light: #bbd962;
$_secondary-dark: #93bf00;
$_secondary-contrast: #fff;

$_success: #9ccd00;
$_warning: #ffde03;
$_error: #eb003b;

$_light: #c1c1c1;
$_dark: #777777;

$ino-colors: "primary", "secondary", "success", "warning", "error", "light", "dark";

$ino-color-scheme: (
  primary: (
    base: $_primary,
    light: $_primary-light,
    dark: $_primary-dark,
    contrast: $_primary-contrast
  ),
  secondary: (
    base: $_secondary,
    light: $_secondary-light,
    dark: $_secondary-dark,
    contrast: $_secondary-contrast
  ),
  success: (
    base: $_success,
    light: lighten($_success, 15%),
    dark: darken($_success, 15%),
    contrast: #fff
  ),
  warning: (
    base: $_warning,
    light: lighten($_warning, 15%),
    dark: darken($_warning, 15%),
    contrast: #fff
  ),
  error: (
    base: $_error,
    light: lighten($_error, 15%),
    dark: darken($_error, 15%),
    contrast: #fff
  ),
  light: (
    base: $_light,
    light: lighten($_light, 15%),
    dark: darken($_light, 15%),
    contrast: #000
  ),
  dark: (
    base: $_dark,
    light: lighten($_dark, 15%),
    dark: darken($_dark, 15%),
    contrast: #ffffff
  )
);

// Mixin to access inovex color scheme variables
// Usage: color: colors(primary) or colors(primary, light)
@function ino-color($color-name, $tone: 'base') {
  @return map-get(map-get($ino-color-scheme, $color-name), $tone);
}
