/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
  url('./fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
  url('./fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
  url('./fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
  url('./fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
  url('./fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
  url('./fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
  url('./fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

// Font Family

$font-family-sans-serif: 'Lato', Helvetica, Verdana, sans-serif;

// Private variables, use ino-font-family($mode) mixin to access them.
$ino-font-families: (
  sans-serif: $font-family-sans-serif,
);

@mixin ino-font-family($mode: sans-serif) {
  font-family: map-get($ino-font-families, $mode);
}

// Font weights

// Private variables, use ino-font-weight($weight) mixin to access them.
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;

$ino-font-weights: (
  light: $font-weight-light,
  regular: $font-weight-regular,
  semibold: $font-weight-semibold,
  bold: $font-weight-bold
);

@mixin ino-font-weight($weight: regular) {
  font-weight: map-get($ino-font-weights, $weight);
}

// Font sizes

// Private variables, use ino-font-size($type) mixin to access them.
$size-m: 1rem !default; // Browser default (normally 16px)
$line-height-m: 1.5 !default;
$size-l: ($size-m * 1.25);
$line-height-l: 1.5 !default;
$size-s: ($size-m * 0.875);
$line-height-s: 1.5 !default;
$size-xs: ($size-s * 0.875);
$line-height-xs: 1.5 !default;

$ino-font-sizes: (
  xs: (
    font-size: $size-xs,
    line-height: $line-height-xs
  ),
  s: (
    font-size: $size-s,
    line-height: $line-height-s
  ),
  m: (
    font-size: $size-m,
    line-height: $line-height-m
  ),
  l: (
    font-size: $size-l,
    line-height: $line-height-l
  )
);

@mixin ino-font-size($type: m) {
  font-size: map-get(map-get($ino-font-sizes, $type), 'font-size');
  line-height: map-get(map-get($ino-font-sizes, $type), 'line-height');
}

// Further mixins

@mixin ino-font($family: sans-serif, $size: m, $weight: regular) {
  @include ino-font-family($family);
  @include ino-font-size($size);
  @include ino-font-weight($weight);
}
