@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Font Family

$font-family-sans-serif: 'Lato', Helvetica, Verdana, sans-serif;
$font-family-serif: Merriweather, Georgia, 'Times New Roman', serif;
$font-family-mono: 'Source Code Pro', Courier, mono;

// Private variables, use ino-font-family($mode) mixin to access them.
$ino-font-families: (
  sans-serif: $font-family-sans-serif,
  serif: $font-family-serif,
  mono: $font-family-mono
);

@mixin ino-font-family($mode: sans-serif) {
  font-family: map-get($ino-font-families, $mode);
}

// Font weights

// Private variables, use ino-font-weight($weight) mixin to access them.
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;

$ino-font-weights: (
  light: $font-weight-light,
  regular: $font-weight-regular,
  semibold: $font-weight-semibold,
  bold: $font-weight-bold
);

@mixin ino-font-weight($weight: regular) {
  font-weight: map-get($ino-font-weights, $weight);
}

// Font sizes

// Private variables, use ino-font-size($type) mixin to access them.
$size-m: 1rem !default; // Browser default (normally 16px)
$line-height-m: 1.5 !default;
$size-l: ($size-m * 1.25);
$line-height-l: 1.5 !default;
$size-s: ($size-m * 0.875);
$line-height-s: 1.5 !default;
$size-xs: ($size-s * 0.875);
$line-height-xs: 1.5 !default;

$ino-font-sizes: (
  xs: (
    font-size: $size-xs,
    line-height: $line-height-xs
  ),
  s: (
    font-size: $size-s,
    line-height: $line-height-s
  ),
  m: (
    font-size: $size-m,
    line-height: $line-height-m
  ),
  l: (
    font-size: $size-l,
    line-height: $line-height-l
  )
);

@mixin ino-font-size($type: m) {
  font-size: map-get(map-get($ino-font-sizes, $type), 'font-size');
  line-height: map-get(map-get($ino-font-sizes, $type), 'line-height');
}

// Further mixins

@mixin ino-font($family: sans-serif, $size: m, $weight: regular) {
  @include ino-font-family($family);
  @include ino-font-size($size);
  @include ino-font-weight($weight);
}
