@use 'colors';
@use 'fonts';

// @material/theme
@use '@material/theme' with (
  $primary: colors.ino-color(primary),
  $secondary: colors.ino-color(secondary),
  $on-primary: colors.ino-color(primary, contrast),
  $on-secondary: colors.ino-color(secondary, contrast),
  $error: colors.ino-color(error),
);

// @material/typography
@use '@material/typography' with (
  $font-family: fonts.$font-family-sans-serif
);

@forward '@material/typography' as mdc-typo-*;
@forward '@material/theme' as mdc-theme-*;


