.story-nav-drawer__default,
.story-nav-drawer__docked_anchor--right,
.story-nav-drawer__dismissible {
  position: relative;
  height: 500px;
  border: 1px solid grey;
  border-radius: 4px;
  overflow: hidden;

  .main-content {
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    padding: 30px;
  }
}
