@use '../components/base/typography-new';
@use '../components/base/theme';
@use '../components/base/new-theme' as new-theme;

.inovex-elements-typo {
  font-family: Lato, Verdana, sans-serif;

  a {
    background-color: transparent;
    color: new-theme.$primary;
    font-weight: bold;
    text-decoration: none;
  }

  /************ Displays ************/

  h1.display, .header-d1 {
    @include typography-new.typo(display-1);
  }

  h2.display, .header-d2 {
    @include typography-new.typo(display-2);
  }

  h3.display, .header-d3 {
    @include typography-new.typo(display-3);
  }

  /************ Headers ************/

  h1, .header-h1 {
    @include typography-new.typo(headline-1);
  }

  h2, .header-h2 {
    @include typography-new.typo(headline-2);
  }

  h3, .header-h3 {
    @include typography-new.typo(headline-3);
  }

  /************ Titles ************/

  h4, .title-l {
    @include typography-new.typo(title-l);
  }

  h5, .title-m {
    @include typography-new.typo(title-m);
  }

  h6, .title-s {
    @include typography-new.typo(title-s);
  }

  /************ Labels ************/

  .label-l {
    @include typography-new.typo(label-l);
  }

  .label-m {
    @include typography-new.typo(label-m);
  }

  .label-s {
    @include typography-new.typo(label-s);
  }

  /************ Body ************/

  .body-l {
    @include typography-new.typo(body-l);
  }

  .body-m {
    @include typography-new.typo(body-m);
  }

  .body-s {
    @include typography-new.typo(body-s);
  }
}

.inovex-elements-theme {
  $white: #fff;
  $black: #000;
  $transparent: rgba(255, 255, 255, 0);
  
  // Neutrals
  $n-1: #F4F4F7;
  $n-2: #DFDEE6;
  $n-3: #CAC8D5;
  $n-4: #B6B4C4;
  $n-5: #A3A0B3;
  $n-6: #908DA2;
  $n-7: #7E7B91;
  $n-8: #6D6A80;
  $n-9: #5D5B69;
  $n-10: #4C4B52;
  $n-11: #39383C;
  $n-12: #39383C;
  
  // Primary Blue
  $primary: #2c02ff;
  $primary-focus: #2d5dff4d;
  
  $p-01: #f6fafe;
  $p-02: #e2ecff;
  $p-03: #beccff;
  $p-04: #8aa1ff;
  $p-05: #4655ff;
  $p-06: #2d02ff;
  $p-07: #1801e1;
  $p-08: #0801c4;
  $p-09: #0106a6;
  $p-10: #000e88;
  $p-11: #00126a;
  $p-12: #00124d;
  
  //Alert Colors
  $informational: #F4F4F7;
  $informational-light: #D6E0FF;
  $success: #6CF070;
  $success-light: #D7FAD8;
  $error: #FF2E54;
  $error-light: #FFD6DE;
  $warning: #FFA42E;
  $warning-light: #FFEED6;
}