@import "styles/fonts.scss";

ino-form-row {
  box-sizing: border-box;

  & > .ino-form-row__composer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
  }

  .ino-form-row__element {
    flex: 1;
  }

  .ino-form-row__label {
    width: 120px;
  }
}
