.story-menu {
  h4:not(:first-child) {
    margin-top: 48px;
  }

  .spaced-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ino-icon {
    --ino-icon-height: 18px;
    --ino-icon-width: 18px;
  }
}
