ino-img {
  display: inline-block;
  overflow: hidden;
  width: 100%;

  .ino-img__composer {
    position: relative;
    box-sizing: border-box;
  }

  .ino-img__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &[ino-rounded] {
    .ino-img__image {
      border-radius: 50%;
    }
  }
}
