@use '../base/mdc-customize';
@use '@material/list';
@use '../base/new-theme' as theme;
@use '../base/option-base' as base;

@include list.deprecated-core-styles;

$height: 2.85rem;

.ino-autocomplete__list {
  margin: 0.5rem 0 0 0;
  padding: 0;
  background-color: theme.$white;
  box-shadow: 0px 0px 22px 0px rgba(theme.$n-10, 0.35);
  border-radius: 10px;
  overflow: auto;
}

@include list.deprecated-item-disabled-text-opacity(0.5);

.ino-autocomplete__list-item {
  height: $height;

  @include base.style-mdc-list-item-deselected-states(
    base.$OPTION-DESELECTED-BG-COLOR,
    base.$OPTION-DESELECTED-BG-COLOR-HOVER,
    base.$OPTION-DESELECTED-BG-COLOR-FOCUS,
    base.$OPTION-DESELECTED-BG-COLOR-ACTIVE
  );

  &--selected,
  &--activated {
    @include base.style-mdc-list-item-selected-states(
      base.$OPTION-SELECTED-BG-COLOR,
      base.$OPTION-SELECTED-BG-COLOR-HOVER,
      base.$OPTION-SELECTED-BG-COLOR-FOCUS,
      base.$OPTION-SELECTED-BG-COLOR-ACTIVE
    );
    color: black;
  }

  &--highlight {
    color: theme.$p-7;
    background-color: transparent;
    font-weight: bold;
  }

  &--no-match {
    padding: 0 0 0 16px;
    display: flex;
    align-items: center;
    color: theme.$n-5;
    pointer-events: none;
  }
}

.ino-input--font-grey {
  --ino-input-color: #{theme.$n-5};
}