@use 'base/theme';
@use 'base/mdc-customize';
@use '@material/list';

/**
* @prop --ino-autocomplete-list-max-height: max height of option list
*/
:host {
  position: relative;

  .menu {
    width: var(--input-width, max-content);
    max-height: var(--ino-autocomplete-list-max-height, 225px);
    position: absolute;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
  }

  .menu-hidden {
    display: none;
  }

  .menu-shown {
    display: block;
  }

  .no-options-text {
    padding-left: 16px;
    padding-right: 16px;
    color: theme.color(light, dark);
  }
}
