@import '../styles/colors';
@import '../styles/fonts';
@import '../ino-spinner/styles/circle.mixins.scss';
@import '../styles/mixins';
@import '@material/button/mdc-button';

// Shadows
$small-shadow: 0 4px 8px 0 rgba(61, 64, 245, 0.3),
  0 12px 28px 0 rgba(61, 214, 245, 0.14);
$big-shadow: 0 8px 16px 0 rgba(61, 64, 245, 0.3),
  0 16px 32px 0 rgba(61, 214, 245, 0.14);

// Borders
$round-border: 24px 24px 24px 24px;
$edged-border: 0 24px 24px 24px;

@mixin setButtonColors($color-map) {

  .mdc-button {

    &.mdc-button--raised,
    &.mdc-button--unelevated {
      @include mdc-button-filled-accessible(map-get($color-map, base));
      @include mdc-button-ink-color(map-get($color-map, contrast));

      .ino-spinner__composer {
        @include circle-color(map-get($color-map, contrast));
      }
    }

    &.mdc-button--outlined {
      @include mdc-button-outline-color(map-get($color-map, base));
      @include mdc-button-ink-color(map-get($color-map, dark));

      .ino-spinner__composer {
        @include circle-color(map-get($color-map, base));
      }
    }
  }
}

:host {
  display: inline-block;

  // Shared Attributes
  .mdc-button {
    @include ino-font($size: s, $weight: semibold);
    letter-spacing: 1.5px;
    text-align: center;
    @include mdc-button-shape-radius($edged-border);
    @include animateBorderRadius(
        'round-to-edge',
        $round-border,
        $edged-border,
        0.3s
    );

    &:active,
    &:hover {
      @include animateBorderRadius(
          'edge-to-round',
          $edged-border,
          $round-border,
          0.15s
      );
      @include mdc-button-shape-radius($round-border);
    }

    &.mdc-button--raised {
      box-shadow: $big-shadow;

      &:hover {
        box-shadow: $small-shadow;
      }

      &:active {
        box-shadow: $big-shadow;
      }
    }

    &.mdc-button--raised:disabled,
    &.mdc-button--unelevated:disabled {
      background-color: ino-color(light, dark);
      color: white;
    }

    &.mdc-button--outlined {
      @include mdc-button-outline-width(2px);

      &:disabled {
        @include mdc-button-outline-color(ino-color(dark, base));
        @include mdc-button-ink-color(ino-color(light, base));
      }
    }
  }

  .ino-button--dense {
    @include mdc-button-density(-1);
  }
}

:host([ino-loading="true"]) {
  button {
    pointer-events: none;
  }

  .mdc-button__label {
    height: 20px;
  }
}

// set default when no color scheme is provided
@include setButtonColors(map-get($ino-color-scheme, primary));

@each $color-name, $map in $ino-color-scheme {
  :host([ino-color-scheme="#{$color-name}"]) {
    @include setButtonColors($map);
  }
}
