@use '../base/typography';
@use '../base/animation';
@use '../ino-spinner/ino-spinner' as spinner;
@use '../base/theme';
@use '../base/common';

/* Colors: */
$white: #ffffff;
$n-7: #edeff5;
$n-3: #7275a1;

$primary: #2c02ff;
$button_filled_hover-control_hover: #4B4EFF;
$button_filled_pressed: #3D40F5;
$button_outlined_text_pressed: #D7E0FF;
$button_outlined_text_hover: #E8EDFF;

$border-focused: #2d5dff4d;
$text-disabled: $n-3;
$disabled: $n-7;
$transparent: rgba(255, 255, 255, 0);

/* borders */
$round-border: 24px 24px 24px 24px;
$edged-border: 24px 0 24px 24px;

@mixin disabled {
  pointer-events: none;
  color: $text-disabled;
}

ino-button {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 8px 16px;

    min-height: 36px;
    line-break: auto;
    line-height: 100%;
    @include typography.font(sans-serif, m, bold);

    cursor: pointer;

    &.button--dense {
      padding: 6px 16px;
      min-height: 32px;
    }

    &.button__icon--leading {
      padding-left: 8px;
    }

    &.button__icon--trailing {
      padding-right: 8px;
    }
  }

  .icon__wrapper {
    height: 16px;
  }

  .button__label--hide {
    display: none;
  }
}

// filled variant
ino-button .button__variant--filled {
  background-color: $primary;
  border-color: transparent;
  color: white;
  text-align: center;

  @include common.border-rounding-animation(
    $round-border,
    $edged-border,
    0.15s,
    $round-to-edged: true
  );

  &:hover {
    background-color: $button_filled_hover-control_hover;
    box-shadow: 0 2px 2px $border-focused;
    @include common.border-rounding-animation(
      $round-border,
      $edged-border,
      0.15s,
      $round-to-edged: false
    );
  }


  &:focus {
    background-color: $button_filled_pressed;
    box-shadow: 0 0 0 3px $border-focused;
  }

  &:active {
    background-color: $button_filled_pressed;
    box-shadow: none;
  }

  &:disabled {
    @include disabled();
    background-color: $disabled;
  }

  .icon__wrapper {
    --ino-icon-color-primary: $white;
  }

  ino-spinner {
    @include spinner.set-spinner-color($white);
  }
}

// outlined variant
ino-button .button__variant--outlined {
  background-color: $transparent;
  border: solid 1.5px $button_filled_pressed;
  border-radius: 19px;
  color: $primary;
  letter-spacing: 0.27px;

  &:hover {
    background-color: $button_outlined_text_hover;
  }

  &:focus {
    box-shadow: 0 0 0 3px $border-focused;
  }

  &:active {
    background-color: $button_outlined_text_pressed;
    border-color: $button_filled_pressed;
    box-shadow: none;
  }

  &:disabled {
    @include disabled();
    background-color: $white;
    border-color: $n-3;
  }

  ino-spinner {
    @include spinner.set-spinner-color($primary);
  }
}

// text variant
ino-button .button__variant--text {
  background-color: transparent;
  border: 3px transparent;
  color: $primary;
  border-radius: 19px;

  &:hover {
    background-color: $button_outlined_text_hover;
    border-color: transparent;
  }

  &:focus {
    border: none;
    box-shadow: 0 0 0 3px $border-focused;
  }

  &:active {
    background-color: $button_outlined_text_pressed;
    box-shadow: none;
  }

  &:disabled {
    @include disabled();
    background-color: $white;
  }

  ino-spinner {
    @include spinner.set-spinner-color($primary);
  }
}

ino-button.ino-button--loading {
  pointer-events: none;
}
