@use 'base/typography';
@use 'base/animation';

/* Colors: */
$brand-inovex-blue: #051c59;
$primary: #2c02ff;
$primary-light: #2d5dff;
$primary-hover: #2d5dff14;
$primary-active: #2d5dff1f;
$primary-dark: #172e9a;
$white: #ffffff;
$grey-light: #c1c1c1;
$grey-dark: #777777;
$text-color-1: #000000;
$text-color-2: #525368;
$text-color-3: #74758b;
$text-disabled: #9e9e9e;
$border: #3d40f5;
$border-focused: #2d5dff4d;

$round-border: 24px 24px 24px 24px;
$edged-border: 24px 0 24px 24px;

ino-button {
  .button--base {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 8px 16px;
    @include typography.font(sans-serif, m, bold);
    cursor: pointer;
  }

  .button--fill-filled {
    background-color: $primary;
    border-color: transparent;
    border-radius: $edged-border;
    color: white;
    text-align: center;

    @include animation.border-radius(
      ino-button-round-to-edge,
      $round-border,
      $edged-border,
      0.15s
    );

    &:hover {
      background-color: #4b4eff;
      border-radius: $round-border;
      @include animation.border-radius(
        ino-button-edged-to-round,
        $edged-border,
        $round-border,
        0.15s
      );
    }

    &:focus {
    }

    &:active {
      background-color: #3d40f5;
    }
  }

  .button--fill-outlined {
    background-color: white;
    border: solid 1px $border;
    border-radius: 19px;
    color: $primary;
    letter-spacing: 0.27px;

    &:hover {
      background-color: $primary-hover;
    }

    &:focus {
      border: solid 3px $border;
      border-color: $border-focused;
    }

    &:active {
      background-color: #2d5dff1f;
      border: solid 1px $border;
    }
  }

  .button--fill-text {
    background-color: transparent;
    border: 3px transparent;
    color: $primary;
    border-radius: 19px;

    &:hover {
      background-color: $primary-hover;
      border-color: transparent;
    }

    &:focus {
      border: none;
    }

    &:active {
      background-color: $primary-active;
    }
  }
}
