// @import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700|Source+Code+Pro:400,500|Source+Sans+Pro:400,600');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.color-rect {
  height: 48px;
  width: 48px;
}

.color-hex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}
