.typo-docs {
  .p, h1, h2, a, b, em, i, small, abbr {
    font-family: 'Lato', Helvetica, Verdana, sans-serif;
  }

  .flex-row {
    margin: 20px 0 20px 0;
    border-top: 1px dotted;
    border-top-color: #4B4C5B;
  }

  .font {
    font-weight: 400;
    color: #4B4C5B;
  }

  .font--lato-example {
    font-size: 32px;
    letter-spacing: 4.92px;
    line-height: 40px;
  }

  h1 {
    font-weight: 400;
    font-size: 36px;
    color: #4B4C5B;
    letter-spacing: 0.35px;
    line-height: 36px;
  }

  h2 {
    font-weight: 500;
    font-size: 28px;
    color: #4B4C5B;
    letter-spacing: 0.35px;
    line-height: 36px;
  }

  a {
    font-weight: 400;
    font-size: 16px;
    color: #3D40F5;
    letter-spacing: 0;
  }

  b {
    font-weight: 700;
    text-align: left;
    color: #4B4C5B;
    font-size: 16px;
    letter-spacing: 0.25px;
  }

  em {
    font-weight: 400;
    font-size: 16px;
    color: #4B4C5B;
    letter-spacing: 0.25px;
  }

  i {
    font-weight: 400;
    font-size: 16px;
    color: #4B4C5B;
    letter-spacing: 0.25px;
  }

  small {
    font-weight: 400;
    font-size: 13px;
    color: #4B4C5B;
    letter-spacing: 0.25px;
  }

  abbr {
    font-weight: 400;
    font-size: 16px;
    color: #4B4C5B;
    letter-spacing: 0.25px;
  }

  p {
    font-weight: 400;
    font-size: 17px;
    color: #636477;
    letter-spacing: 0.25px;
    line-height: 28px;
  }
}
