.typo-docs {
  .p,
  h1,
  h2,
  a,
  b,
  em,
  i,
  small,
  abbr {
    font-family: 'Lato', Helvetica, Verdana, sans-serif;
  }

  .flex-row {
    margin: 20px 0 20px 0;
    border-top: 1px dotted;
    border-top-color: #4b4c5b;
  }

  .font {
    font-weight: 400;
  }

  .font--lato-example {
    font-size: 32px;
    letter-spacing: 4.92px;
    line-height: 40px;
  }

  a {
    font-weight: 400;
    font-size: 16px;
    color: #3d40f5;
    letter-spacing: 0;
  }

  b {
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.25px;
  }

  em {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.25px;
  }

  i {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.25px;
  }

  small {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.25px;
  }

  abbr {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.25px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 28px;
  }
}
