@use '../base/mdc-customize';
@use '@material/dialog/mdc-dialog';

$material-dialog-box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
  rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
$material-dialog-scrim-background-color: rgba(0, 0, 0, 0.32);

:host {
  /**
   * @prop --ino-dialog-background-color: background color of the dialog
   * @prop --ino-dialog-width: width of the dialog
   * @prop --ino-dialog-height: height of the dialog
   * @prop --ino-dialog-border-radius: border-radius of the dialog
   * @prop --ino-dialog-border: border shorthand of the dialog
   * @prop --ino-dialog-box-shadow: box-shadow of the dialog
   * @prop --ino-dialog-overlay-background-color: background color of the overlay
   */
  $background-color: var(--ino-dialog-background-color, #fff);
  $width: var(--ino-dialog-width, auto);
  $height: var(--ino-dialog-height, auto);
  $border-radius: var(--ino-dialog-border-radius, unset);
  $box-shadow: var(--ino-dialog-box-shadow, #{$material-dialog-box-shadow});
  $border: var(--ino-dialog-border, unset);
  $scrim-bg: var(
    --ino-dialog-overlay-background-color,
    #{$material-dialog-scrim-background-color}
  );

  .mdc-dialog__scrim {
    background-color: $scrim-bg;
  }

  .mdc-dialog .mdc-dialog__container {
    height: #{$height};
    width: #{$width};
  }

  .mdc-dialog .mdc-dialog__surface {
    background-color: $background-color;
    overflow: visible;
    max-width: unset;
    min-width: unset;
    max-height: unset;
    min-height: unset;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: $border;
  }
}

:host(.ino-dialog--fullwidth) {
  --ino-dialog-width: 100%;
  --ino-dialog-height: calc(100% - 80px);

  .mdc-dialog {
    align-items: flex-end;
  }
  .mdc-dialog .mdc-dialog__container {
    justify-content: unset;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
  }
  .mdc-dialog--open .mdc-dialog__container {
    transform: translateY(0px);
  }
  .mdc-dialog .mdc-dialog__surface {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
