@use '../base/mdc-customize';
@use '@material/dialog/mdc-dialog';
@use '@material/dialog';
@use '../base/new-theme' as theme;

$material-dialog-box-shadow: 0px 0px 22px rgba(93, 91, 105, 0.35);

:host {
  /**
   * @prop --ino-dialog-background-color: background color of the dialog
   * @prop --ino-dialog-width: width of the dialog
   * @prop --ino-dialog-height: height of the dialog
   * @prop --ino-dialog-border-radius: border-radius of the dialog
   * @prop --ino-dialog-border: border shorthand of the dialog
   * @prop --ino-dialog-box-shadow: box-shadow of the dialog
   * @prop --ino-dialog-overlay-background-color: background color of the overlay
   */
  $background-color: var(--ino-dialog-background-color, #fff);
  $width: var(--ino-dialog-width, auto);
  $height: var(--ino-dialog-height, auto);
  $padding: var(--ino-dialog-padding, 62px);
  $border-radius: var(--ino-dialog-border-radius, 17px);
  $box-shadow: var(--ino-dialog-box-shadow, #{$material-dialog-box-shadow});
  $border: var(--ino-dialog-border, 1px solid theme.$primary);
 
  @include dialog.max-width(552px, 16px);
  @include dialog.min-width(480px);
  @include dialog.container-fill-color($background-color);
  @include dialog.scrim-color(theme.$p-4, 0.25);

  .mdc-dialog__scrim {
    backdrop-filter: blur(5px);
  }

  .mdc-dialog .mdc-dialog__container {
    height: #{$height};
    width: #{$width};
  }

  .mdc-dialog .mdc-dialog__surface {
    overflow: visible;
    min-height: unset;
    max-height: unset;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: #{$border};
    padding: #{$padding};
  }

  .mdc-dialog .mdc-dialog__surface header {
    display: flex;
    align-items: flex-start;

    ino-icon {
      --icon-width: 2rem;
      --icon-height: 2rem;
      margin-right: 2rem;
      margin-top: 0.5rem;
    }
  }

  .mdc-dialog .mdc-dialog__surface header h1 {
    margin: 0 0 0;
    font-weight: 400;
  }

  .mdc-dialog .mdc-dialog__surface section {
    margin: 38px 0 0;
  }

  .mdc-dialog .mdc-dialog__surface footer {
    margin-top: 63px;
    display: flex;
    justify-content: space-around;
  }
}

:host(.ino-dialog--fullwidth) {
  --ino-dialog-width: 100%;
  --ino-dialog-height: calc(100% - 80px);

  .mdc-dialog {
    align-items: flex-end;
  }

  .mdc-dialog .mdc-dialog__container {
    justify-content: unset;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
  }

  .mdc-dialog--open .mdc-dialog__container {
    transform: translateY(0px);
  }

  .mdc-dialog .mdc-dialog__surface {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
  }
}