.container {
  display: flex;
  justify-content: space-between;

  .image {
    position: relative;
    width: 461px;
    height: 326px;
  }
}

.claimContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-weight: 500 !important;
  color: var(--inovex-elements-n-11);
}
