.sbdocs.sbdocs-content:has(#anchor--input-ino-input--default) {
  [scale] {
    width: 100%;
  }

  #story--input-ino-input--states-inner #root-inner,
  #story--input-ino-input--labels-inner #root-inner,
  #story--input-ino-input--dense-inner #root-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
