@use '@material/data-table/data-table';

@include data-table.core-styles;
@include data-table.theme-baseline;

ino-table-cell {
  display: table-cell;
  vertical-align: middle;

  &.ino-table__header-cell {
    font-weight: bold;
  }
}
