@use '../../styles/typography';

.card {
  --ino-card-border-thickness: 0;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 17px;
  border: transparent;
  min-width: fit-content;
  min-height: fit-content;
  text-align: center;
  padding: 10px;
}

.footer {
  max-width: 200px;
}

.component {
  @include typography.font($size: 14px, $weight: bold);
}

.label {
  @include typography.font($size: 14px, $weight: lighter);
}
