@use 'base/mdc-customize';
@use '@material/card/mdc-card';
@use '@material/card';
@use 'base/theme';

$small-shadow: 0 4px 8px 0 rgba(theme.color(dark), 0.3),
  0 12px 28px 0 rgba(theme.color(dark), 0.14);
$big-shadow: 0 8px 16px 0 rgba(theme.color(dark), 0.3),
  0 16px 32px 0 rgba(theme.color(dark), 0.54);

ino-card {
  /**
   * @prop --ino-card-background-color: background color of the card
   * @prop --ino-card-background-color--active: background color of the card if active
   * @prop --ino-card-background-color--focus: background color of the card on focus
   * @prop --ino-card-background-color--hover: background color of the card on hover
   * @prop --ino-card-border-color: border color of the card
   * @prop --ino-card-border-thickness: thickness of the border
   * @prop --ino-card-checkmark-background-color: background color of the check mark
   * @prop --ino-card-checkmark-color: check mark color
   */
  --card-background-color: var(--ino-card-background-color, #fff);
  --card-background-color--active: var(
    --ino-card-background-color--active,
    #fff
  );
  --card-background-color--focus: var(--ino-card-background-color--focus, #fff);
  --card-background-color--hover: var(--ino-card-background-color--hover, #fff);
  --card-border-color: var(
    --ino-card-border-color,
    #{theme.color(light, base)}
  );
  --card-border-thickness: var(--ino-card-border-thickness, 1px);
  --card-checkmark-background-color: var(
    --ino-card-checkmark-background-color,
    --ino-global-primary-color,
    #{theme.color(primary, base)}
  );
  --card-checkmark-color: var(--ino-card-checkmark-color, #fff);
}

ino-card {
  display: block;
  position: relative;
  border-radius: 20px;

  .mdc-card {
    @include card.fill-color(var(--card-background-color));
    @include card.outline(
      #{var(--card-border-color)},
      #{var(--card-border-thickness)}
    );
    box-shadow: none;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::after {
      content: unset;
    }

    &:active {
      @include card.fill-color(var(--card-background-color--active));
    }

    &:focus {
      @include card.fill-color(var(--card-background-color--focus));
    }

    &:hover {
      @include card.fill-color(var(--card-background-color--hover));
    }
  }

  .ino-card--selected.mdc-card {
    @include card.outline(#fff, 1px);
    box-shadow: $big-shadow;
  }

  .ino-card__checkmark {
    position: absolute;
    border-radius: 50%;
    background-color: var(--card-checkmark-background-color);
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $small-shadow;

    ino-icon {
      font-size: 20pt;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      --icon-color: var(--card-checkmark-color);
    }
  }

  .ino-card__checkmark-container {
    display: contents;
  }

  .ino-card__footer,
  .ino-card__content,
  .ino-card__header {
    padding: 10px;
  }

  &:hover.ino-elevate {
    .mdc-card {
      @include card.outline(#fff, 1px);
      box-shadow: $small-shadow;
    }
  }
}
