@use '@material/card/mdc-card';
@use '@material/card';
@use '@material/typography/mdc-typography';
@use '@material/typography' as mdc;
@use '@material/theme';
@use 'styles/colors';

$small-shadow: 0 4px 8px 0 rgba(colors.$dark, 0.3),
0 12px 28px 0 rgba(colors.$dark, 0.14);
$big-shadow: 0 8px 16px 0 rgba(colors.$dark, 0.3),
0 16px 32px 0 rgba(colors.$dark, 0.14);

ino-card {
  /**
   * @prop --ino-card-background-color: background color of the check mark
   * @prop --ino-card-color: check mark color
   */
  --card-background-color: var(--ino-card-background-color, --ino-global-primary-color, #{colors.ino-color(primary, base)});
  --card-color: var(--ino-card-color, #fff);
}

ino-card {
  display: block;
  position: relative;

  .mdc-card {
    @include card.outline(colors.$light, 1px);
    box-shadow: none;
    border-radius: 20px;
  }

  .ino-card--selected.mdc-card {
    @include card.outline(#fff, 1px);
    box-shadow: $big-shadow;
  }

  .ino-card__checkmark {
    position: absolute;
    border-radius: 50%;
    background-color: var(--card-background-color);
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $small-shadow;

    ino-icon {
      font-size: 20pt;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      --color: var(--card-color);
    }
  }

  .ino-card__footer, .ino-card__content, .ino-card__header {
    padding: 10px;
  }

  &:not([ino-disable-elevation]):hover, &[ino-disable-elevation="false"]:hover {
    .mdc-card {
      @include card.outline(#fff, 1px);
      box-shadow: $small-shadow;
    }
  }
}
