.wrapper {
  display: flex;
  align-items: center;
}

.step {
  flex: none;
  height: 30px;
  width: 30px;
  background-color: var(--inovex-elements-p-6);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-right: 16px;
}
