@use '../base/new-theme' as theme;

$row-active-color: #{theme.$success};
$row-hover-border-color: #{theme.$n-3};
$row-alt-background-color: #{theme.$n-1};
$row-alt-hover-background-color: $row-alt-background-color;

@mixin core-styles() {
  tr {
    border: none;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: $row-alt-background-color;
    }
  }

  @include active-row();
  @include row-hover();
}

@mixin active-row() {
  .ino-table__row--active {
    td,
    td:first-child,
    td:last-child,
    th,
    th:first-child,
    th:last-child {
      border-color: $row-active-color;
    }

    &:hover {
      td,
      td:first-child,
      td:last-child,
      th,
      th:first-child,
      th:last-child {
        border-color: $row-active-color !important;
      }
    }
  }
}

@mixin row-hover() {
  .mdc-data-table:not(.ino-table--no-hover) tbody {
    tr:not(.mdc-data-table__row--selected):hover {
      &:nth-child(even) {
        background-color: $row-alt-hover-background-color;
      }

      td,
      td:first-child,
      td:last-child,
      th,
      th:first-child,
      th:last-child {
        border-color: $row-hover-border-color;
      }
    }
  }
}
