@use '@material/data-table/data-table';
@use 'styles/colors';

:host {
  @include data-table.core-styles;
  @include data-table.theme-baseline;

  .ino-table__table {
    display: table;
  }

  .ino-table__header {
    display: table-header-group;
  }

  .ino-table__body {
    display: table-row-group;
  }
}
