@use './../../../../elements/src/components/base/typography-new';

.container {
  display: grid;
  grid-template-columns: minmax(622px, 1fr) 1fr;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    'header image'
    'info image'
    'installation image';
  grid-row-gap: 40px;
}

.image {
  grid-area: image;
}

.headerContainer {
  grid-area: header;
  align-self: end;

  .header {
    @include typography-new.typo(display-2);
    margin: 0;
  }

  .subHeader {
    @include typography-new.typo(display-2);
    font-weight: lighter;
    margin: 0;
  }

  mark {
    padding: 0 5px 0 3px;
    background: linear-gradient(
        0,
        rgba(212, 204, 255, 0.5) 40%,
        transparent 40%
    );
    width: fit-content;
  }
}

.info {
  grid-area: info;
  max-width: 500px;
  @include typography-new.typo(body-l);
}

.installation {
  grid-area: installation;
  align-self: start;

  .animation {
    padding-top: 15px;
  }
}
