@import '../../../styles/theme.scss';

.container {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    'header image'
    'info image'
    'installation image';
  grid-row-gap: 40px;
  margin-top: 75px;
}

.image {
  grid-area: image;
  opacity: 1;
  transition: opacity 500ms ease;
  overflow: visible;
  z-index: -1;

  @media screen and (max-width: 768px) {
    opacity: 0.2;
  }

  @media screen and (max-width: 600px) {
    opacity: 0;
  }
}

.headerContainer {
  grid-area: header;
  align-self: end;
  grid-column: 1 / span 2;
  

  .header {
    margin: 0;
  }

  mark {
    padding: 0 5px 0 3px;
    background: linear-gradient(
        0,
        rgba($p-03, 40%),
        transparent 40%
    );
    width: fit-content;
  }
}

.info {
  grid-area: info;
  max-width: 650px;
  grid-column: 1 / span 2
}

.installation {
  grid-area: installation;
  align-self: start;
  grid-column: 1 / span 2;

  .animation {
    padding-top: 15px;
  }
}
