.container {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  position: relative;
}

.chipContainer {
  width: 400px;
}

.frameworks {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.chip {
  height: 36px;
}

.installCommand {
  font-size: 16px;
}

.successMessage {
  position: absolute;
  color: #68ce6a;
  font-weight: bolder;
  top: -5px;
  left: 400px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s;

  &Show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1s;
  }
}

.icon {
  height: 25px;
  width: 25px;
  opacity: 0.3;
  transition: opacity 1s;
  position: relative;
  cursor: pointer;

  &:hover, &Active {
    opacity: 1;
  }
}
