@use 'styles/mdc-customize';
@use '@material/slider/slider';
@use '@material/slider' as slider-mixins;
@use 'styles/colors';

@include slider.core-styles;

ino-range {
  display: block;
  min-width: 100px;

  @each $color-name in colors.$ino-color-schemes {
    // Condition to set default styles for primary
    $selector: '&[ino-color-scheme="#{$color-name}"]';
    @if $color-name == primary {
      $selector: '&';
    }

    #{$selector} .mdc-slider {
      @include slider-mixins.track-active-color(colors.ino-color($color-name, base));
      @include slider-mixins.track-inactive-color(colors.ino-color($color-name, light));
      @include slider-mixins.thumb-color(colors.ino-color($color-name, base));
      @include slider-mixins.thumb-ripple-color(colors.ino-color($color-name, base));
      @include slider-mixins.tick-mark-inactive-color(#000);
      @include slider-mixins.value-indicator-text-color(#FFF);
    }
  }
}
