@use 'base/mdc-customize';
@use '@material/slider/slider';
@use '@material/slider' as slider-mixins;
@use 'base/new-theme' as *;
@use "@material/ripple";

@include slider.core-styles;

ino-range {
  .mdc-slider {
    @include slider-mixins.track-active-color($primary);
    @include slider-mixins.track-inactive-color($n-6);
    @include slider-mixins.thumb-color($primary);
    @include slider-mixins.thumb-ripple-color($transparent);
    @include slider-mixins.tick-mark-inactive-color($black);
    @include slider-mixins.value-indicator-text-color($white);
  
    &.inital-position {
      & .mdc-slider__thumb-knob {
        background-color: $n-6;
      }
    }
  
    & .mdc-slider__track {
      .mdc-slider__track--active, .mdc-slider__track--inactive {
        height: 2px;
        border-radius: 10px;
        top: 1px;
      }
    }
  
    & .mdc-slider__thumb-knob {
      height: 16px;
      width: 16px;
      border: 0px;
      box-shadow: 0px 0px 0px 0px $primary-focus;
      transition: ease-in 0.1s;
  
      &:hover {
        background-color: $range_hover-control_hover;
      }
    }
  
    &__thumb--focused {
      .mdc-slider__thumb-knob {
        box-shadow: 0px 0px 0px 4px $primary-focus;
      }
    }
  
    &.mdc-slider--disabled {
      opacity: 1;
  
      .mdc-slider__track--active_fill {
        border-color: $n-6;
      }
  
      .mdc-slider__track--inactive {
        background-color: $n-7;
        opacity: 1;
      }
  
      .mdc-slider__thumb-knob {
        border: 1.5px solid $n-6;
        background-color: $white;
        box-shadow: none;
      }
    }
  }  
}
