@use 'base/mdc-customize';
@use '@material/slider/slider';
@use '@material/slider' as slider-mixins;
@use 'base/theme';

@include slider.core-styles;

ino-range {
  display: block;
  min-width: 100px;

   .mdc-slider .mdc-slider__track--active,
   .mdc-slider .mdc-slider__track--inactive {
     height: 2px;
     border-radius: 10px;
     top: 1px;
   }

   .mdc-slider .mdc-slider__thumb-knob {
     height: 16px;
     width: 16px;
     border: 0px;
   }

  @each $color-name in theme.$color-schemes {
    &.ino-range--color-scheme-#{$color-name} .mdc-slider {
      @include slider-mixins.track-active-color(theme.color($color-name, base));
      @include slider-mixins.track-inactive-color(
        theme.color($color-name, light)
      );
      @include slider-mixins.thumb-color(theme.color($color-name, base));
      //@include slider-mixins.thumb-ripple-color(rgba(255, 255, 255, 0));
      @include slider-mixins.tick-mark-inactive-color(#000);
      @include slider-mixins.value-indicator-text-color(#fff);

      &:hover{  
        @include slider-mixins.thumb-color(theme.color($color-name, light));
      }

      &:hover:not(:focus), &:hover:not(:active){
        @include slider-mixins.thumb-ripple-color(rgba(255, 255, 255, 0));
      }
      // &:hover(:focus){
      //   @include slider-mixins.thumb-ripple-color(theme.color($color-name, base));
      // }

      &:focus, &:active {
        @include slider-mixins.thumb-ripple-color(theme.color($color-name, base));
      }
    }
  }
}
