@use '../base/new-theme';

ino-carousel {
  /**
   * @prop --ino-carousel-icon-color: sets the color of the navigation buttons
   * @prop --ino-carousel-animation-duration: sets the duration of the slide animation
   */
  --carousel-icon-color: var(--ino-carousel-icon-color, #fff);
  --carousel-animation-duration: var(--ino-carousel-animation-duration, 700ms);
  width: 700px;
  height: 400px;
}

.ino-carousel {
  &__container {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__slides {
    flex: 1;
    display: grid;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    height: 100%;

    ino-icon {
      --icon-color: var(--carousel-icon-color);
    }

    &--left {
      left: 16px;
    }

    &--right {
      right: 16px;
    }
  }

  &__stepper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__stepper-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: new-theme.$n-2;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;

    &--selected {
      background-color: new-theme.$p-5;
    }
  }
}
