
ino-carousel {
  /**
   * @prop --ino-carousel-icon-color: sets the color of the navigation buttons
   * @prop --ino-carousel-animation-duration: sets the duration of the animation (in ms)
   */
  --ino-carousel-icon-color: #fff;
  --ino-carousel-animation-duration: 1s;
}

@mixin fadeTransition($name, $from, $to, $duration) {
  animation: $name $duration;

  @keyframes #{$name} {
    from {
      opacity: $from;
    }

    to {
      opacity: $to;
    }
  }
}

ino-carousel {
  .ino-carousel {
    position: relative;
    height: 400px;
    width: 700px;
    overflow: hidden;
  }

  .ino-carousel__left-arrow, .ino-carousel__right-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    height: 100%;

    ino-icon {
      --color: var(--ino-carousel-icon-color);
    }
  }

  .ino-carousel--no-buttons {
    .ino-carousel__left-arrow, .ino-carousel__right-arrow {
      display: none;
    }
  }

  .ino-carousel__right-arrow {
    right: 16px;
  }

  .ino-carousel__left-arrow {
    left: 16px;

    ino-icon {
      transform: rotate(180deg);
    }
  }

  .ino-carousel__container {
    height: 100%;
  }

  .ino-carousel-slide--fade-in ino-carousel-slide {
    @include fadeTransition('fadeIn', 0, 1, var(--ino-carousel-animation-duration));
  }

  .ino-carousel-slide--fade-out ino-carousel-slide {
    @include fadeTransition('fadeOut', 1, 0, var(--ino-carousel-animation-duration));
  }
}
