.row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px 5px 5px;
  @media (max-width: 876px) {
    justify-content: center;
  }
}

.card,
.sampleCard {
  position: relative;
  width: 277px;
  height: 392px;

  box-shadow: 0px 0px 18px rgba(20, 20, 20, 0.07),
    0px 0px 8.08158px rgba(20, 20, 20, 0.0456112),
    0px 0px 5.20969px rgba(20, 20, 20, 0.035),
    0px 2px 1px rgba(20, 20, 20, 0.0243888);
  border-radius: 5px;
}

.sampleCard {
  background-image: url('./assets/resource-pattern.svg');
}

.header {
  text-align: center;
  color: var(--inovex-elements-p-10);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
  height: 174px;
  background: linear-gradient(
    360deg,
    rgba(190, 204, 255, 0.2) -26.15%,
    rgba(190, 204, 255, 0) 136.49%
  );
}

.Image {
  mix-blend-mode: multiply;
  object-fit: contain;
}
.content {
  padding: 16px 0 16px 32px;
  color: var(--inovex-elements-p-11);

  &:last-child {
    color: var(--inovex-elements-p-10);
  }
}

.footer {
  color: var(--inovex-elements-n-11);
   padding: 0 32px;
}

.linkIcon {
  position: absolute;
  bottom: 11px;
  right: 11px;
}
