h2, h3 {
  color: #777777;
}

.catalog {
  width: 100%;
}

.catalog-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  ino-card {
    margin: 10px;
    width: calc((100% - 60px) / 3);

    @media only screen and (max-width: 850px) {
      width: calc((100% - 40px) / 2);
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: unset;
  }

  .card-content--vertical, .card-content--horizontal, .card-footer {
    display: flex;
    align-items: center;
  }

  .card-content--vertical {
    height: 170px;
    flex-direction: column;
    justify-content: center;
  }

  .card-content--horizontal {
    flex-direction: row;
    justify-content: space-evenly;
    height: 170px;
    flex-wrap: wrap;

    ino-icon {
      --icon-height: 50px;
      --icon-width: 50px;
    }
  }

  .card-footer {
    height: 20px;
  }
}
