@use '../styles/mdc-customize';
@use '@material/chips/mdc-chips';
@use '@material/chips';
@use 'styles/colors';

ino-chip-set {
  .mdc-chip-set--choice {
    .mdc-chip {
      @include chips.selected-ink-color(colors.ino-color(primary, base));
    }
  }
}
