@use 'base/typography';
@use 'base/theme';
@import '~flatpickr/dist/flatpickr';
@import '~flatpickr/dist/plugins/monthSelect/style';

$light-blue: #d0d0e6; // rgba(theme.color(primary), 0.1);
$padding-vertical: 20px;
$padding-horizontal: 24px;

ino-datepicker {
  display: block;

  ino-input,
  .flatpickr-wrapper,
  .mdc-text-field {
    width: 100%;
  }

  .mdc-text-field--with-leading-icon .mdc-text-field__icon,
  .mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 20px;
  }
}

// Customize flatpickr styles

$hover-color: lighten(theme.color(primary), 36.5%);

.flatpickr-calendar {
  @include typography.font(sans-serif, s, regular);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 6px 6px 6px;
  margin-top: 4px;

  &::before,
  &::after {
    display: none;
  }

  &:not(.noCalendar):not(.flatpickr-monthSelect-theme-light) {
    width: auto;
  }

  &.flatpickr-monthSelect-theme-light {
    min-width: 300px;
  }

  input {
    @include typography.font($size: s);
  }

  &.inline {
    padding: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Header Container

.flatpickr-calendar .flatpickr-current-month {
  padding-top: 8px;
  font-size: typography.pxToRem(13px);
}

.flatpickr-calendar:not(.inline) .flatpickr-current-month {
  padding-top: 20px;
}

.flatpickr-calendar .flatpickr-months {
  padding: 0 20px 0 6px;
  margin-bottom: 10px;
  border-radius: 24px;
  // background-color: theme.$light-blue;
  width: 100%;

  .flatpickr-month {
    height: 38px;

    .cur-month,
    .numInput,
    .flatpickr-monthDropdown-months {
      font-weight: typography.font-weight(semibold);
      margin-right: 4px;
      min-width: 100px;
      letter-spacing: typography.pxToRem(0.4px);
    }
  }

  // Keep layout working when arrow hidden
  .flatpickr-disabled {
    display: block;
    visibility: hidden;
  }

  .ino-datepicker__icon {
    pointer-events: none; // Required otherwise the flatpickr closes immediately.
    display: block;

    --ino-icon-height: 12px;
    --ino-icon-width: 12px;
    --ino-icon-color: #{theme.color(primary)};
  }
}

.flatpickr-calendar:not(.inline) {
  .flatpickr-prev-month {
    padding: (10px + $padding-vertical) 12px 10px (12px + $padding-horizontal) !important;
  }

  .flatpickr-next-month {
    padding: (10px + $padding-vertical) (12px + $padding-horizontal) 12px 10px !important;
  }
}

// Days Container

// Header Row
.flatpickr-calendar .flatpickr-innerContainer {
  padding: 0 20px 15px 20px;

  .flatpickr-weekday {
    font-weight: typography.font-weight(medium);
    color: rgba(0, 0, 0, 0.8);
  }
}

// Content
.flatpickr-calendar .flatpickr-day {
  margin: 4px;
  $size: 32px;
  $notSelected: ':not(.selected):not(.startRange):not(.endRange)';

  font-weight: typography.font-weight(medium);
  max-width: $size;
  height: $size;
  line-height: $size - 2px;

  // Text color
  &:not(.flatpickr-disabled)#{$notSelected} {
    color: theme.color(dark);
  }

  &.nextMonthDay:not(.flatpickr-disabled)#{$notSelected},
  &.prevMonthDay:not(.flatpickr-disabled)#{$notSelected} {
    color: theme.color(dark, light);
  }

  &:hover:not(.flatpickr-disabled)#{$notSelected},
  &:focus:not(.flatpickr-disabled)#{$notSelected} {
    color: theme.color(primary);
    background-color: $light-blue;
    border-color: $light-blue;
  }

  // Today
  &.today:not(.flatpickr-disabled)#{$notSelected} {
    color: theme.color(primary);
    // Only add border if its not in a range
    // (provides problems with the background color logic of flatpickr)
    &:not(.inRange) {
      border: 1px solid theme.color(primary);
    }
  }

  // Selected, Range-Start and Range-End are styled the same.
  &.selected,
  &.endRange,
  &.endRange:hover,
  &.startRange,
  &.startRange:hover {
    background-color: theme.color(primary);
    border-color: theme.color(primary);
    color: white;
    font-weight: typography.font-weight(semibold);
    line-height: $size;
  }

  // Background within a range
  &.inRange:not(.selected) {
    border-color: $light-blue;
    background-color: $light-blue;
    box-shadow: -12px 0 0 $light-blue, 12px 0 0 $light-blue;
  }

  &.selected.startRange + .endRange:not(:nth-child(7n + 1)),
  &.startRange.startRange + .endRange:not(:nth-child(7n + 1)) {
    box-shadow: -12px 0 0 $light-blue;
  }
}

// Month picker

.flatpickr-calendar .flatpickr-monthSelect-months {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 10px;

  .flatpickr-monthSelect-month {
    font-weight: typography.font-weight(medium);
    width: 30%;
    margin: 3px;
    border-radius: 20px;

    &.selected {
      background-color: theme.color(primary);
      font-weight: typography.font-weight(semibold);
      color: white;
    }

    &:hover:not(.selected) {
      background-color: $light-blue;
    }
  }
}
