@use '../styles/fonts';
@use '../styles/colors';
@import '~flatpickr/dist/flatpickr';
@import '~flatpickr/dist/plugins/monthSelect/style';

ino-datepicker {
  display: block;

  ino-input,
  .flatpickr-wrapper,
  .mdc-text-field {
    width: 100%;
  }

  @include fonts.ino-font(sans-serif, m, regular);

  .mdc-text-field--with-leading-icon .mdc-text-field__icon,
  .mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 20px;
  }
}

// Customize flatpickr styles

$hover-color: lighten(colors.ino-color(primary), 36.5%);

.flatpickr-calendar {
  @include fonts.ino-font($size: xs);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 6px 6px 6px;
  margin-top: 4px;

  &::before,
  &::after {
    display: none;
  }

  &:not(.noCalendar):not(.flatpickr-monthSelect-theme-light) {
    width: auto;
  }

  &.flatpickr-monthSelect-theme-light {
    min-width: 300px;
  }

  input {
    @include fonts.ino-font($size: s);
  }

  .flatpickr-innerContainer {
    margin: 0 20px 15px 20px;

    .flatpickr-day {
      border-width: 0;

      &:hover:not(focus) {
        background-color: $hover-color;
      }

      &.today:not(.selected) {
        color: colors.ino-color(primary);
        @include fonts.ino-font-weight(semibold);
      }

      &.selected {
        background: colors.ino-color(primary);
        box-shadow: 0 8px 16px 0 rgba(61, 64, 245, 0.3),
          0 16px 32px 0 rgba(61, 214, 245, 0.14);

        &:hover {
          background: colors.ino-color(primary);
        }
      }

      &.endRange,
      &.endRange:hover {
        background-color: colors.ino-color(primary);
      }
    }
  }

  .flatpickr-monthSelect-months {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 10px;

    .flatpickr-monthSelect-month {
      width: 30%;
      margin: 3px;
      border-radius: 20px;

      &.selected {
        background-color: colors.ino-color(primary);
        color: white;
        box-shadow: 0 4px 12px 0 rgba(61, 64, 245, 0.3),
          0 8px 24px 0 rgba(61, 214, 245, 0.14);
      }

      &:hover:not(.selected) {
        background-color: $hover-color;
      }
    }
  }

  .flatpickr-months {
    margin: 15px 20px 0 20px;

    .flatpickr-month {
      .cur-month,
      .numInput {
        @include fonts.ino-font-weight(regular);
      }
    }

    // Keep layout working when arrow hidden
    .flatpickr-disabled {
      display: block;
      visibility: hidden;
    }

    .flatpickr-prev-month {
      margin-left: 10px;
    }

    .flatpickr-next-month {
      margin-right: 10px;
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      position: relative;

      svg {
        fill: colors.ino-color(primary);
        height: 11px;
        width: 11px;

        path {
          stroke: colors.ino-color(primary);
          stroke-width: 1px;
        }
      }

      &:hover > svg {
        fill: colors.ino-color(primary);
      }
    }
  }
}
