.contributorCard {
  width: 300px;
  height: 175px;
}
.footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 11px;
}

.Image {
  border-radius: 50%;
}
