@use '../../styles/typography.scss';

h1.header {
  @include typography.font($size: 50px, $weight: lighter);
  color: #232527;
  letter-spacing: 0.53px;
  margin-top: 0;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #CCD1D9;
  z-index: 1
}

@media screen and (max-width: 900px) {
  .container:before {
     left: 10px;
     width: 2px;
  }
}
