.milestoneRight {
    width: calc(50% + 0.571rem);
    display: flex;
    justify-content: space-between;
    clear: both;
    float: right;

    &::before {
       @extend .marker;
    }
  }

  .milestoneLeft {
    width: calc(50% + 0.571rem);
    display: flex;
    justify-content: space-between;
    clear: both;
    float: left;
    text-align: right;

    &::after {
      @extend .marker;
   }
  }

  .marker {
    content: '';
    display: inline-block;
    width: 1.143rem;
    height: 1.143rem;
    border-radius: 0.571rem;
    margin-top: 1.071rem;
    background-color: var(--inovex-elements-n-2);
    z-index: 2;
  }

  .content {
    width: 95%;
    padding: 0 1.071rem;
    color: var(--inovex-elements-n-12);
  }

  .content h3 {
    margin: 5px 0;
  }

  .content .subtitle {
    color: var(--inovex-elements-n-12);
    margin-bottom: 10px;
  }

  .content .text {
    color: var(--inovex-elements-n-12);
  }

  @media screen and (max-width: 900px) {
    .marker2 {
      content: '';
      display: inline-block;
      width: 1.143rem;
      height: 1.143rem;
      border-radius: 0.571rem;
      margin-top: 1.071rem;
      margin-left: 0.143rem;
      background-color: var(--inovex-elements-n-2);
      z-index: 2;
    }

    .milestoneRight {
        width: 100%;
        margin-bottom: 2.143rem;
        float: none;
        &::before {
          @extend .marker2;
        }
    }

    .milestoneLeft {
      width: 100%;
      margin-bottom: 2.143rem;
      float: none;
      text-align: left;
      &::before {
        @extend .marker2;
      }
      &::after {display: none;}
    }
  }
