.milestoneRight {
    width: calc(50% + 8px);
    display: flex;
    justify-content: space-between;
    clear: both;
    float: right;

    &::before {
       @extend .marker;
    }
  }

  .milestoneLeft {
    width: calc(50% + 8px);
    display: flex;
    justify-content: space-between;
    clear: both;
    float: left;
    text-align: right;

    &::after {
      @extend .marker;
   }
  }

  .marker {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-top: 15px;
    background-color: var(--inovex-elements-n-2);
    z-index: 2;
  }

  .content {
    width: 95%;
    padding: 0 15px;
    color: var(--inovex-elements-n-12);
  }

  .content h3 {
    margin: 5px 0;
  }

  .content .subtitle {
    color: var(--inovex-elements-n-12);
    margin-bottom: 10px;
  }

  .content .text {
    color: var(--inovex-elements-n-12);
  }

  @media screen and (max-width: 900px) {
    .marker2 {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      margin-top: 15px;
      margin-left: 2px;
      background-color: var(--inovex-elements-n-2);
      z-index: 2;
    }

    .milestoneRight {
        width: 100%;
        margin-bottom: 30px;
        float: none;
        &::before {
          @extend .marker2;
        }
    }

    .milestoneLeft {
      width: 100%;
      margin-bottom: 30px;
      float: none;
      text-align: left;
      &::before {
        @extend .marker2;
      }
      &::after {display: none;}
    }
  }
