@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/mdc-select";
@use "@material/select";
@use 'styles/colors';

$not-outlined-select: 'not(.mdc-select--outlined)';

ino-select {

  /**
  * @prop --select-height: Height of the open select menu
   */

  display: block;
  --select-height: auto;

  input {
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }

  .mdc-select__menu {
    height: var(--select-height);
  }

  .mdc-select__anchor, .mdc-select, .mdc-select__menu {
    width: 100%;
  }

  .mdc-select {
    @include select.container-fill-color(transparent);
    @include select.focused-label-color(colors.$primary);
    @include select.focused-bottom-line-color(colors.$primary);
    @include select.focused-outline-color(colors.$primary);

    &--focused .mdc-select__dropdown-icon {
      @include select.dd-arrow-svg-bg_(colors.$primary, 1);
    }

    .mdc-select__anchor:before {
      display: none;
    }

    &--disabled .mdc-select__anchor {
      background-color: transparent;
    }

    .mdc-floating-label {
      top: 28px;
    }
  }

  .mdc-select.mdc-select--outlined .mdc-select__selected-text {
    display: block;
  }

  .mdc-select__selected-text {
    padding-left: 0;
    padding-top: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    top: 18px;
  }
}
