@use '../base/mdc-customize';
@use '@material/list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use '@material/select/mdc-select';
@use '@material/select';
@use '../base/theme';
@use '../ino-label/ino-label';

@include list.deprecated-core-styles;

$not-outlined-select: 'not(.mdc-select--outlined)';
$placeholder-color: rgba(0, 0, 0, 0.6);
$border-radius: 0.7rem;

$filled-input-height: 56px;
$filled-input-height-dense: 35px;
$filled-selected-text-height-dense: 25px;
$outline-input-height: 40px;
$outline-input-height-dense: 30px;
$outline-shape-radius: $outline-input-height / 2;
$outline-shape-radius-corner: $outline-shape-radius $outline-shape-radius $outline-shape-radius 0;

@mixin setIconColors($color) {
  .mdc-select__icon {
    ino-icon {
      --icon-color: #{$color};
    }
  }
}

ino-select {
  /**
  * @prop --ino-select-height: Height of the open select menu
  * @prop --ino-select-icon-color: Icon color
  * @prop --ino-border-radius: Border-radius of the open select menu
  */
  --select-height: auto;
  --select-icon-color: var(--ino-select-icon-color, #{theme.color(primary)});
  --border-radius: var(var(--ino-border-radius), $border-radius);

  display: block;

  .ino-hidden-input {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .mdc-select__menu {
    margin-top: 0.57rem;
    border-radius: $border-radius;
    height: var(--select-height);
    box-shadow: 0px 0px 22px 0px rgba(93, 91, 105, 0.35);

    ul {
      padding: 0;
    }
  }

  .mdc-select__anchor,
  .mdc-select,
  .mdc-select__menu {
    width: 100%;
  }

  @include setIconColors($placeholder-color);

  .mdc-select--focused {
    @include setIconColors(var(--select-icon-color));

    .mdc-select__anchor {
      @include select.dropdown-icon-color(theme.color(primary));
    }
  }

  .mdc-select {
    @include select.label-color(
      (
        focus: theme.color(primary),
      )
    );
    @include select.bottom-line-color(
      (
        focus: theme.color(primary),
      )
    );
    @include select.outline-color(
      (
        focus: theme.color(primary),
      )
    );
    @include select.container-fill-color(
      (
        default: transparent,
        disabled: transparent,
      )
    );

    .mdc-select__anchor:before {
      display: none;
    }

    .mdc-select__dropdown-icon {
      width: 24px;
      height: 24px;

      ino-icon {
        --icon-width: 24px;
        --icon-height: 24px;
      }
    }

    .mdc-menu-surface--is-open-below {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  .mdc-select.mdc-select--outlined .mdc-select__selected-text {
    display: block;
  }

  .mdc-select__selected-text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  // make sure the border-color is the default if focused and invalid
  .mdc-select.mdc-select--outlined.mdc-select--invalid.mdc-select--focused {
    @include ino-label.outline-border-color(theme.color(primary));
  }

  &:not(.ino-select-outlined) .mdc-select-helper-text {
    margin-left: 0;
  }
}

// filled 
ino-select .mdc-select--filled {

  .mdc-select__anchor {
    padding-left: 0;
  }

  .mdc-select__selected-text {
    margin-top: 24px;
  }

  .mdc-select__icon {
    margin-top: 12px;
  }

  .mdc-select__dropdown-icon {
    margin-top: 18px;
  }

  .mdc-floating-label {
    top: 36px;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    top: 25px;
  }

  &[class*='--with-leading-icon'] {
    .mdc-floating-label,
    .mdc-floating-label--float-above {
      left: 48px;
    }
  }
}

// filled dense
ino-select.ino-select-dense .mdc-select--filled {
  @include select.filled-density(-1);
  @include select.filled-height($filled-input-height-dense);
  overflow: visible;

  .mdc-select__anchor {
    align-items: end;
  }

  .mdc-select__selected-text {
    height: $filled-selected-text-height-dense;
    margin: 0 0 2px;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    top: 18px;
    display: unset;
  }  

  .mdc-select__icon {
    margin: auto 12px;
  }

  .mdc-select__dropdown-icon {
    align-self: end;
    margin-bottom: 5px;
  }
}

// outline
ino-select.ino-select-outlined {
  @include select.outlined-height($outline-input-height);
  @include select.outline-shape-radius($outline-shape-radius);

  &.ino-select--has-helpertext, &.ino-select--has-helpertext.ino-select--has-helpertext-persistent{
    @include select.outline-shape-radius($outline-shape-radius-corner);

    & .mdc-select-helper-text {
      margin-left: 0;
    }
  }

  .mdc-select__selected-text {
    margin-top: 7px;
  }

  .mdc-select--focused .mdc-floating-label.mdc-floating-label--float-above {
    margin-top: -1px;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    top: 19px;
  }

  & [class*='--with-leading-icon'] ino-icon {
    display: unset; // center icon vertically
  }

  & [class*='--with-leading-icon']
  .mdc-floating-label {
    left: 21px;
  }

  & [class*='--with-leading-icon']
    .mdc-floating-label.mdc-floating-label--float-above {
    left: 5px;
  }
}

// outline dense
ino-select.ino-select-outlined.ino-select-dense {
  @include select.outlined-height($outline-input-height-dense);

  & [class*='--with-leading-icon']
    .mdc-floating-label.mdc-floating-label--float-above {
    top: 13px;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    margin-top: 0px;
    top: 13px;
  }  

  .mdc-select--focused .mdc-floating-label.mdc-floating-label--float-above {
    top: 12px;
  }

  .mdc-select__selected-text {
    margin-top: 2px;
  }

  .mdc-select__icon {
    align-self: end;

    ino-icon {
      --icon-width: 20px;
      --icon-height: 20px;
      margin: auto 0;
    }
  }
}
