@use '../styles/mdc-customize';
@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use '@material/select/mdc-select';
@use '@material/select';
@use '../styles/colors';

$not-outlined-select: 'not(.mdc-select--outlined)';

ino-select {

  /**
  * @prop --select-height: Height of the open select menu
   */

  display: block;
  --select-height: auto;

  input {
    opacity: 0;
    width: 95%; // 100% shows ellipsis in Chrome
    cursor: pointer;
  }

  .mdc-select__menu {
    position: fixed;
    top: var(--ino-vertical-alignment) !important; // to overwrite MDC inline styles, important is necessary
    left: var(--ino-horizontal-alignment) !important;
    bottom: unset !important;
    height: var(--select-height);
  }

  .mdc-select__anchor, .mdc-select, .mdc-select__menu {
    width: 100%;
  }

  .mdc-select {
    @include select.container-fill-color(transparent);
    @include select.focused-label-color(colors.ino-color(primary));
    @include select.focused-bottom-line-color(colors.ino-color(primary));
    @include select.focused-outline-color(colors.ino-color(primary));
    @include select.disabled-container-fill-color(transparent);

    &--focused .mdc-select__anchor {
      @include select.dropdown-icon-color(colors.ino-color(primary));
    }

    .mdc-select__anchor:before {
      display: none;
    }
  }

  .mdc-select.mdc-select--outlined .mdc-select__selected-text {
    display: block;
  }

  .mdc-select__selected-text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mdc-select--filled {

    .mdc-select__anchor {
      padding-left: 0;
    }

    .mdc-select__selected-text {
      margin-top: 24px;
    }

    .mdc-floating-label {
      top: 36px;
    }

    .mdc-floating-label.mdc-floating-label--float-above {
      top: 25px;
    }
  }

  .mdc-select--outlined {
    .mdc-select__selected-text {
      margin-top: 16px;
    }

    .mdc-floating-label.mdc-floating-label--float-above {
      top: 28px;
    }
  }
}
