@use 'base/mdc-customize';
@use '@material/textfield/icon';
@use 'base/theme';

:host {
  /**
    * @prop --ino-icon-width: Width of the icon
    * @prop --ino-icon-height: Height of the icon
    * @prop --ino-icon-color: Color of the icon
   */

  --icon-width: var(--ino-icon-width, 1em);
  --icon-height: var(--ino-icon-height, 1em);
  --icon-color: var(
      --ino-icon-color,
      var(
          --ino-icon-color-primary,
          #{theme.color(primary, base)}
      )
  );
}

:host {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  i {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: normal;
  }

  i[role='button'] {
    cursor: pointer;
  }

  svg {
    color: var(--icon-color);
    fill: var(--icon-color);
    height: var(--icon-height);
    width: var(--icon-width);
  }
}
