@use '@material/textfield/icon/mdc-text-field-icon';
@use '../styles/colors';

$icons-with-special-strokes: "arrow_right", "arrow_left", "arrow_up", "arrow_down", "call", "copy", "delete", "display", "edit", "help", "partner", "remove", "sort_az", "sort_down", "sort_up", "sort_za", "web";
$icons-with-special-strokes-at-exact-position: "checkmark", "warning";

:host {

  /**
    * @prop --ino-icon-width: Width of the icon
    * @prop --ino-icon-height: Height of the icon
    * @prop --ino-icon-color-primary: Primary (default) color of the icon
    * @prop --ino-icon-color-secondary: Secondary color of the icon
   */

  --icon-width: var(--ino-icon-width, 1em);
  --icon-height:  var(--ino-icon-height, 1em);
  --icon-color: var(--ino-icon-color-primary, var(--ino-global-primary-color, #{colors.ino-color(primary, base)}));
}

:host([ino-color-secondary]):host(:not([ino-color-secondary="false"])) {
  --icon-color: var(--ino-icon-color-secondary, var(--ino-global-secondary-color, #{colors.ino-color(secondary, base)}));
}

:host {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  i {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  i[role='button'] {
    cursor: pointer;
  }

  svg {
    color: var(--icon-color);
    height: var(--icon-height);
    width: var(--icon-width);
  }

  // ----------------------------- DEFAULT CASE ----------------------------- //
  svg path {
    stroke: var(--icon-color);
  }
}

// ----------------------------- SPECIAL CASES ----------------------------- //
@each $icon in $icons-with-special-strokes {
  :host([ino-icon=#{$icon}]) svg path {
    stroke: none;
    fill: var(--icon-color);
  }
}

@each $icon in $icons-with-special-strokes-at-exact-position {
  :host([ino-icon=#{$icon}]) svg path:nth-child(2) {
    stroke: var(--icon-color);
    fill: none;
  }
}
