@use '../styles/mdc-customize';
@use '@material/textfield/icon';
@use '../styles/colors';

:host {
  /**
    * @prop --ino-icon-width: Width of the icon
    * @prop --ino-icon-height: Height of the icon
    * @prop --ino-icon-color-primary: Primary (default) color of the icon
    * @prop --ino-icon-color-secondary: Secondary color of the icon
   */

  --icon-width: var(--ino-icon-width, 1em);
  --icon-height: var(--ino-icon-height, 1em);
  --icon-color: var(
    --ino-icon-color-primary,
    var(--ino-global-primary-color, #{colors.ino-color(primary, base)})
  );
}

:host([ino-color-secondary]):host(:not([ino-color-secondary='false'])) {
  --icon-color: var(
    --ino-icon-color-secondary,
    var(--ino-global-secondary-color, #{colors.ino-color(secondary, base)})
  );
}

:host {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  i {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  i[role='button'] {
    cursor: pointer;
  }

  svg {
    color: var(--icon-color);
    height: var(--icon-height);
    width: var(--icon-width);
  }
}
