.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openExternallyButton {
  position: fixed;
  bottom: 22px;
  right: -215px;
  z-index: 10;
  transition: right 200ms;

  &:hover {
    right: 0;
  }

  &Icon {
    --ino-icon-color-primary: white;
  }
}
