@use '@material/list/mdc-list';
@use 'styles/colors';

ino-list-item {
  display: block;

  .ino-list-item__icon {
    font-size: 24px;
  }

  .mdc-list-item__graphic:empty {
    display: none;
  }

  ino-img .ino-img__image {
    width: 100%;
    height: auto;
  }

  .mdc-list-item {
    &.mdc-list-item--selected, &.mdc-list-item--activated {
      background-color: rgba(colors.ino-color(primary, base), 0.05);
      color: colors.$primary;

      &::before, &::after {
        display: none;
      }

      &:hover {
        background-color: rgba(colors.ino-color(primary, base), 0.1);
      }

      &:focus {
        background-color: rgba(colors.ino-color(primary, base), 0.15);
      }

      &:active {
        background-color: rgba(colors.ino-color(primary, base), 0.3);
      }
    }
  }

}
