@use '@material/list/mdc-list';
@use 'styles/colors';

ino-list-item {
  /**
   * @prop --ino-list-item-color: text color
   * @prop --ino-list-item-selected-background-color: background color of a selected list item
   * @prop --ino-list-item-selected-background-color-hover: background color of a selected list item on hover
   * @prop --ino-list-item-selected-background-color-active: background color of a selected list item if active
   * @prop --ino-list-item-selected-background-color-focus: background color of a selected list item if focused
   */
  --list-item-color: var(--ino-list-item-color, #{colors.$primary});
  --list-item-selected-background-color: var(--ino-list-item-selected-background-color, #{rgba(colors.ino-color(primary, base), 0.05)});
  --list-item-selected-background-color-hover: var(--ino-list-item-selected-background-color-hover, #{rgba(colors.ino-color(primary, base), 0.1)});
  --list-item-selected-background-color-active: var(--ino-list-item-selected-background-color-active, #{rgba(colors.ino-color(primary, base), 0.3)});
  --list-item-selected-background-color-focus: var(--ino-list-item-selected-background-color-focus, #{rgba(colors.ino-color(primary, base), 0.15)});
}

ino-list-item {
  display: block;

  .ino-list-item__icon {
    font-size: 24px;
  }

  .mdc-list-item__graphic:empty {
    display: none;
  }

  ino-img .ino-img__image {
    width: 100%;
    height: 100%;
  }

  .mdc-list-item {
    &.mdc-list-item--selected, &.mdc-list-item--activated {
      background-color: var(--list-item-selected-background-color);
      color: var(--list-item-color);

      &::before, &::after {
        display: none;
      }

      &:hover {
        background-color: var(--list-item-selected-background-color-hover);
      }

      &:focus {
        background-color: var(--list-item-selected-background-color-focus);
      }

      &:active {
        background-color: var(--list-item-selected-background-color-active);
      }
    }
  }

}
