@use '../../../../elements/src/components/base/typography';

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  position: relative;

  .head {
    @include typography.font($size: l, $weight: light);
    font-size: 50px;
    color: #232527;
  }
}

.firstAbstract {
  grid-area: 1 / 1 / 2 / 2;
  width: 70%;
}

.secondAbstract {
  grid-area: 2 / 1 / 3 / 2;
  text-align: right;
  width: 70%;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
