.story-ino-popover {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  height: 130px;

  &:has(ino-button.styled-placement) {
    align-items: center;
    justify-content: flex-start;
  }

  &:has(ino-button.big-space) {
    height: 250px;
  }
}

.interactive-popover {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}