.sbdocs.sbdocs-content:has(#anchor--notification-ino-popover--default) {
  [scale] {
    width: 100%;
    display: flex;
    justify-content: center;

    &:has(ino-button.styled-placement) {
      align-items: center;
      justify-content: flex-start;
    }
  
    &:has(ino-button.big-space) {
      height: 250px;
    }

    .innerZoomElementWrapper > div > div {
      overflow: unset;
      
      #root-inner {
        display: flex;
        gap: 5px;
      }
    }
  }
}