@use 'base/mdc-customize';
@use 'base/animation';

$primary-fab-icon-selector: 'ino-fab';
$fab-set-wrapper-height: 66px;
$fab-set-padding: 5px;

$rotationsByDirection: (
  top: 0deg,
  bottom: 180deg,
  left: 270deg,
  right: 90deg,
);

$animationByDirection: (
  top: scaleY(-1),
  bottom: scaleY(1),
  left: rotate(90deg),
  right: rotate(270deg),
);

$wrapperFlexByDirection: (
  top: column,
  bottom: column-reverse,
  left: row,
  right: row-reverse,
);

$dialFlexByDirection: (
  top: column,
  bottom: column,
  left: row,
  right: row,
);

:host {
  position: fixed;
  display: flex;
  width: auto;

  .ino-fab-set-wrapper {
    display: flex;

    ::slotted(*) {
      padding: $fab-set-padding;

      .mdc-fab .mdc-fab__icon {
        font-size: 25px;
      }
    }

    .ino-speed-dial {
      display: none;
      align-items: center;
    }

    .ino-fab-set-button {
      padding: $fab-set-padding;
      align-self: center;
    }

    ::slotted([slot='ino-fab-set-icon-opened']),
    .ino-fab-set-icon--opened {
      display: none;
    }

    ::slotted([slot='ino-fab-set-icon-closed']),
    .ino-fab-set-icon--closed {
      display: block;
    }
  }
}

:host(.ino-fab-set--open-dial) {
  .ino-speed-dial {
    display: flex;
  }

  #{$primary-fab-icon-selector} {
    transition-duration: 100ms;
  }
}

:host(.ino-top-bottom-location-top) {
  top: 20px;
}

:host(.ino-top-bottom-location-bottom) {
  bottom: 20px;
}

:host(.ino-left-right-location-left) {
  left: 20px;
}

:host(.ino-left-right-location-right) {
  right: 20px;
}

$directions: 'top', 'bottom', 'left', 'right';

@each $direction in $directions {
  :host {
    .ino-direction-#{$direction} {
      &.ino-fab-set-wrapper {
        flex-direction: map_get($wrapperFlexByDirection, $direction);

        .ino-speed-dial {
          flex-direction: map_get($dialFlexByDirection, $direction);
        }
      }
    }
  }

  :host(.ino-fab-set--open-dial) {
    ::slotted([slot='ino-fab-set-icon-closed']),
    .ino-fab-set-icon--closed {
      display: none;
    }

    ::slotted([slot='ino-fab-set-icon-opened']),
    .ino-fab-set-icon--opened {
      display: block;
    }
  }
}
