@use '../base/mdc-customize';
@use '../base/animation';

$primary-fab-icon-selector: 'ino-fab';
$fab-set-padding: 5px;

$transformByDirection: (
  left: rotate(270deg),
  right: rotate(90deg),
  bottom: rotate(180deg),
);

$wrapperFlexByDirection: (
  top: column,
  bottom: column-reverse,
  left: row,
  right: row-reverse,
);

$dialFlexByDirection: (
  top: column,
  bottom: column,
  left: row,
  right: row,
);

ino-fab-set {
  position: fixed;
  display: flex;
  width: auto;

  &.ino-top-bottom-location-top {
    top: 20px;
  }

  &.ino-top-bottom-location-bottom {
    bottom: 20px;
  }

  &.ino-left-right-location-left {
    left: 20px;
  }

  &.ino-left-right-location-right {
    right: 20px;
  }

  .ino-fab-set-wrapper {
    display: flex;

    ino-fab {
      padding: $fab-set-padding;

      .mdc-fab .mdc-fab__icon {
        font-size: 25px;
      }
    }

    .ino-speed-dial {
      display: none;
      align-items: flex-end;
    }

    .ino-fab-set-button {
      padding: $fab-set-padding;
      align-self: center;
    }
  }

  $directions: 'top', 'bottom', 'left', 'right';
  @each $direction in $directions {
    .ino-direction-#{$direction} {
      .ino-fab-set-icon {
        transform: map-get($transformByDirection, $direction);
      }

      &.ino-fab-set-wrapper {
        flex-direction: map_get($wrapperFlexByDirection, $direction);

        .ino-speed-dial {
          flex-direction: map_get($dialFlexByDirection, $direction);
        }
      }
    }
  }

  &.ino-fab-set--open-dial {

    .ino-speed-dial {
      display: flex;
    }

    #{$primary-fab-icon-selector} {
      transition-duration: 100ms;
    }
  }
}
