@use 'base/mdc-customize';
@use 'base/animation';

$primary-fab-icon-selector: 'ino-fab';

$rotationsByDirection: (
  top: 0deg,
  bottom: 180deg,
  left: 270deg,
  right: 90deg,
);

@mixin direction($direction: top) {
  // $direction == "top"
  $wrapperDirection: column;
  $speedDialDirection: column;

  @if $direction == 'bottom' {
    $wrapperDirection: column-reverse;
  } @else if $direction == 'left' {
    $wrapperDirection: row;
    $speedDialDirection: row;
  } @else if $direction == 'right' {
    $wrapperDirection: row-reverse;
    $speedDialDirection: row;
  }

  :host([ino-dial-direction='#{$direction}']) {
    .ino-fab-set-wrapper {
      flex-direction: $wrapperDirection;

      .ino-speed-dial {
        flex-direction: $speedDialDirection;
      }
    }

    #{$primary-fab-icon-selector} {
      transform: rotate(map_get($rotationsByDirection, $direction));
    }
  }
}

:host {
  position: fixed;
  display: flex;
  width: auto;
  bottom: 20px;
  right: 20px;

  .ino-fab-set-wrapper {
    display: flex;

    ::slotted(*) {
      padding: 5px;

      .mdc-fab .mdc-fab__icon {
        font-size: 25px;
      }
    }

    .ino-speed-dial {
      display: none;
      align-items: center;
    }
  }
}

:host([ino-top-bottom-location='top']) {
  top: 20px;
  bottom: auto;
}

:host([ino-top-bottom-location='bottom']) {
  bottom: 20px;
}

:host([ino-left-right-location='left']) {
  left: 20px;
  right: auto;
}

:host([ino-left-right-location='right']) {
  right: 20px;
}

$directions: 'top', 'bottom', 'left', 'right';
@each $direction in $directions {
  @include direction($direction);
}

:host([ino-open-dial='true']) {
  .ino-speed-dial {
    display: flex;
  }

  #{$primary-fab-icon-selector} {
    transition-duration: 100ms;
  }
}

:host([ino-open-dial='true'][ino-dial-direction='top'])
  #{$primary-fab-icon-selector} {
  transform: scaleY(-1);
}

:host([ino-open-dial='true'][ino-dial-direction='bottom'])
  #{$primary-fab-icon-selector} {
  transform: scaleY(1);
}

:host([ino-open-dial='true'][ino-dial-direction='left'])
  #{$primary-fab-icon-selector} {
  transform: rotate(90deg);
}

:host([ino-open-dial='true'][ino-dial-direction='right'])
  #{$primary-fab-icon-selector} {
  transform: rotate(270deg);
}
