.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  margin-bottom: 120px;
  background-color: var(--inovex-elements-n-1);
  border-radius: 25px;
  padding: 25px;

  @media only screen and (max-width: 599px) {
    align-items: stretch;
    padding: 0;
  }
}
