.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 150px;
  margin-bottom: 120px;

  @media only screen and (max-width: 700px) {
    row-gap: 4rem;
  }
}

.sublinks {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 28px;

  @media only screen and (max-width: 920px) {
    &::after {
      content: "";
      flex: auto;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  min-width: 10rem;
}

.empty {
  height: 0;

  @media only screen and (max-width: 700px) {
    display: none;
  }
}
