ino-markdown-editor {
  .markdown-editor__content {
    width: 500px;
    height: 500px;
    background-color: hotpink;
  }

  .markdown-editor__content__container {
    background-color: green;
  }
}
