@import '../styles/fonts.scss';;
@import '../styles/icons.scss';
@import '../styles/mixins.scss';
@import '../styles/transitions.scss';

@mixin fontStyle() {
  @include font-SourceSansPro-Regular();
  font-size: 17px;
  letter-spacing: 0.25px;
  line-height: 28px;
}

st-input {
  display: block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .composer {
    display: flex;
  }

  .wrapper {
    position: relative;
    width: 100%;
  }

  //
  // Input
  //
  .input {
    position: relative;
    width: 100%;
    margin: 2px 3px 0 3px;
    z-index: 1;
    outline: none;
    color: #636477;
    padding: 0;
    background: transparent;
    border: 0;

    @include fontStyle();

    &:focus {
      caret-color: #3D40F5;
    }
  }

    .has-error .input:focus {
      caret-color: #F53D6B;
    }

  //
  // Placeholder
  //
  .placeholder {
    text-align: left;
    user-select: none;
    position: absolute;
    margin: 2px 3px 0 3px;
    @include ellipsis();
    width: 100%;

    top: 0;

    @include font-SourceSansPro-Regular();
    font-size: 17px;
    color: rgba(99,100,119,.54);
    letter-spacing: 0.25px;
    line-height: 28px;

    @include transition();
  }

    .input:focus ~ .placeholder,
    .placeholder--above {
      top: -16px;

      @include font-Dosis-SemiBold();
      font-size: 13px;
      letter-spacing: 1.3px;
      line-height: 15px;
    }

    .wrapper:not(.has-error) .input:focus ~ .placeholder {
      color: rgba(61,64,245,1);
    }

    .wrapper.has-error .placeholder {
      color: #F53D6B;
    }

  //
  // Border
  //
  .border-wrapper {
    height: 2px;
  }

  .border {
    background: rgba(162,170,173,0.50);
    border-radius: 0.5px;
    height: 1px;

    @include transition();
  }

    .input:focus ~ .border-wrapper .border {
      height: 2px;
    }

    .wrapper:not(.has-error) .input:focus ~ .border-wrapper .border {
      background: #3D40F5;
    }

    .wrapper.has-error .border-wrapper .border {
      background: #F53D6B;
    }

  .bottom-line {
    display: flex;
    justify-content: space-between;

    padding-top: 4px;

    .counter {
      @include font-SourceSansPro-Regular();
      font-size: 12px;
      color: #636477;
      letter-spacing: 0.25px;
      line-height: 12px;

      &.is-exceeded span {
        color: #F53D6B;
      }
    }
  }

  //
  // Helper Text
  //
  .helper-text {
    @include font-SourceSansPro-Regular();
    font-size: 12px;
    letter-spacing: 0.25px;
    line-height: 12px;
    margin-left: 3px;
  }

    .wrapper:not(.has-error) .helper-text {
      color: #636477;
    }

    .wrapper.has-error .helper-text {
      color: #F53D6B;
    }

  //
  // Icon
  //
  .icon {
    display: none;
  }

    .icon--visible {
      display: block;
      margin: 5px 16px 0 0;
      width: 27px;
      height: 24px;
    }

    .icon--user {
      background: url($icon-user) center no-repeat;
    }

    .icon--password {
      background: url($icon-password) center no-repeat;
    }

    .icon--search {
      background: url($icon-search) center no-repeat;
    }
}

@import './st-input-single.scss';
@import './st-input-multi.scss';
