@import '../utils';

.sbdocs.sbdocs-content:has(#anchor--input-ino-textarea--default) {
  [scale] {
    width: 100%;
  }

  ino-textarea {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #story--input-ino-textarea--label-inner {
    @include story-container {
      display: flex;
      gap: 15px;
    }
  }
}
