.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.357rem;
}

.attribution {
  display: flex;
  align-items: center;
  column-gap: 0.714rem;
  color: var(--inovex-elements-n-7) !important;
}
