.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.attribution {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #7275A1 !important;
}
