.footer {
  display: flex;
  justify-content: center;
  column-gap: 8%;
  row-gap: 5px;
  margin-bottom: 120px;
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  :first-child {
    margin-bottom: 20px;
  }
}
