p.link {
  cursor: pointer;
  color: #7275A1;

  &:hover {
    color: #3A3B64;
  }
}

p.linkActive {
  color: #2C0CF9;
}

p.noMargin {
  margin: 0;
}

p.linkDense {
  font-weight: lighter !important;
  margin: 0;
}
