p.link {
  cursor: pointer;
  letter-spacing: 0.21px;
  color: #7275A1;
  font-size: 1.1rem;
  font-weight: bold;

  &:hover {
    color: #3A3B64;
  }
}

p.linkActive {
  color: #2C0CF9;
}

p.linkDense {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.17px;
  margin: 0;
}
