p.link {
  cursor: pointer;
  color: #7275A1;
  overflow-wrap: break-word;

  &:hover {
    color:  #2C0CF9;
  }
}

p.linkActive {
  color: #3A3B64;
}

p.noMargin {
  margin: 0;
}

p.linkDense {
  font-weight: lighter !important;
  margin: 0;
}
