.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.code {
  font-size: 4rem;
}

.hint {

}

.link {
  padding-top: 30px;
  color: #2C02FF;
}
