@use '@material/snackbar/mdc-snackbar';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/mixins';

ino-snackbar {
  /**
   * @prop --ino-snackbar-color: Text color
   * @prop --ino-snackbar-background-color: Background color
   * @prop --ino-snackbar-icon-color: Icon color
   */
  --snackbar-color: var(--ino-snackbar-color, #{colors.$dark});
  --snackbar-background-color: var(--ino-snackbar-background-color, #{colors.$primary-contrast});
  --snackbar-icon-color: var(--ino-snackbar-icon-color, #{colors.$primary});
}

ino-snackbar {

  &[ino-alignment="right"] .mdc-snackbar--leading {
    justify-content: flex-end;
  }

  .mdc-snackbar__surface {
    background-color: var(--snackbar-background-color);
    padding: 16px;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;

    border-radius: 4px;

    .mdc-snackbar__actions {
      flex-grow: 1;
    }

    .mdc-snackbar__label {
      display: inline;
      color: var(--snackbar-color);
      @include fonts.ino-font-size(s);
      word-break: break-all;
      flex-grow: 3;
      max-width: 400px;
      min-width: 150px;
    }

    .ino-button {
      flex-grow: 1;
    }

    ino-icon-button .mdc-icon-button::before {
      top: 12px;
      left: 12px;
    }

    ino-icon-button ino-icon {
      --icon-color: var(--snackbar-icon-color);
    }
  }
}
