@use 'base/mdc-customize';
@use '@material/snackbar/mdc-snackbar';
@use 'base/typography';
@use 'base/theme';
@use 'base/animation';

$snackbar-types: 'info', 'error', 'warning';

@mixin showCloseButton() {
  display: inline-flex;
}

ino-snackbar {
  &.ino-snackbar--vertical-align-top .mdc-snackbar {
    top: 0;
    bottom: unset;
  }

  &.ino-snackbar--vertical-align-bottom .mdc-snackbar {
    bottom: 0;
    top: unset;
  }

  &.ino-snackbar--horizontal-align-right .mdc-snackbar--leading {
    justify-content: flex-end;
  }

  &.ino-snackbar--type-info {
    --snackbar-color: #2d5dff;
    --snackbar-box-shadow: #2d5dff29;
  }

  &.ino-snackbar--type-success {
    --snackbar-color: #7df481;
    --snackbar-box-shadow: #7df48129;
  }

  &.ino-snackbar--type-error {
    --snackbar-color: #f29191;
    --snackbar-box-shadow: #f2919129;
  }

  .ino-snackbar-container {
    margin-top: 5px;
    margin-right: 5px;
    background-color: white;
    border: 0.3px solid var(--snackbar-color);
    border-radius: 15px;
    box-shadow: 0px 3px 6px var(--snackbar-box-shadow);
    justify-content: space-between;
    min-width: auto;
    max-width: 350px;
    padding: 16px 45px 16px 25px;

    &:hover ~ .ino-snackbar-close-btn {
      @include showCloseButton;
    }
  }

  .ino-snackbar-close-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    padding: 0;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    pointer-events: auto;

    z-index: 10;
    border: 0;

    --ino-icon-button-icon-color: black !important;
    --ino-icon-button-size: 22px;
    --ino-icon-button-icon-size: 8px;

    &:hover {
      @include showCloseButton;
    }
  }

  .ino-snackbar-icon-container {
    ino-icon {
      --ino-icon-width: 30px;
      --ino-icon-height: 30px;
      --ino-icon-color-primary: var(--snackbar-color);
    }
  }

  .ino-snackbar-message-container {
    display: flex;
    flex-direction: column;
    column-gap: 7px;
    padding: 0 0 0 20px;

    .ino-snackbar-text-container {
      color: #74758b;
    }

    .ino-snackbar-action-btn {
      border: none;
      background-color: transparent;
      color: var(--snackbar-color);
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      padding-left: 0;
      padding-top: 5px;
    }
  }
}
