.card {
  height: 129px;
  width: 294px;
  box-shadow: 0px 3px 10px rgba(20, 20, 20, 0.16);
  border-radius: 17px;
  transition: all ease-in 0.15s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 10px rgba(20, 20, 20, 0.3);
  }
}
.content {
  display: flex;
  align-items: center;
  padding: 19px 0 0 24px;
  gap: 16px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 24px 24px;

  a {
    color: var(--inovex-elements-p-5);
  }

  ino-icon {
    --ino-icon-color: var(--inovex-elements-p-5);
    margin-left: 10px;
    width: 6px;
  }
}
