.subtitle {
  color: #39383C;
}

.carouselContainer {
  width: 1050px;
  height: 600px;

  display: flex;
  align-items: center;
  gap: 75px;

  @media only screen and (min-width: 1901px) {
    width: 1500px;
    height: 845px;
  }

  @media only screen and (max-width: 1900px) {
    width: 1050px;
    height: 600px;
  }

  @media only screen and (max-width: 1400px) {
    width: 750px;
    height: 430px;
    gap: 40px;
  }

  @media only screen and (max-width: 1000px) {
    width: 550px;
    height: 300px;
    gap: 20px
  }
}

.slideshow {
  --ino-carousel-width: 100%;
  --ino-carousel-height: 100%;
  height: 100%;
  width: 100%;
  flex: 1;
  box-shadow: 5px 5px 15px lightgrey;
  text-align: center;
  margin-top: 30px;
}
