ino-carousel-slide {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  @mixin fadeTransition($name, $from, $to, $duration) {
    animation: $name $duration;

    @keyframes #{$name} {
      from {
        opacity: $from;
      }

      to {
        opacity: $to;
      }
    }
  }

  >div {
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
  }

  &.ino-carousel-slide__animation.ino-carousel-slide--selected {
      @include fadeTransition('fadeIn', 0, 1, 1s);
    }
  &.ino-carousel-slide__animation:not(.ino-carousel-slide--selected) {
      @include fadeTransition('fadeOut', 1, 0, 1s);
    }

  &.ino-carousel-slide--selected {
    opacity: 1;
  }
}
