ino-carousel-slide {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  > div {
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
  }

  &.ino-carousel-slide--selected {
    opacity: 1;
  }
}
