.story-ino-progress-bar {
  .progress-bar-example {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    ino-progress-bar {
      width: 80%;
    }

    ino-input-file {
      width: 10%;
    }
  }
}
