@use '../../../../node_modules/highlight.js/styles/github.css';
@use '../../../elements/src/components/base/mdc-customize';

body {
  &,
  .markdown-body {
    @include mdc-customize.mdc-typo-base;
  }
}

// Styles that apply to all stories
.ino-story-composer {
  margin: 16px;
}

.ino-visually-hidden {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  height: 1px;
  margin: 0px -1px -1px 0px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
