@use '../styles/fonts';

:host {
  /**
   * @prop --ino-header-color: Text color of the header
   * @prop --ino-header-box-color: Color of the header box
   */
  --header-color: var(--ino-header-color, #525368);
  --header-box-color: var(--ino-header-box-color, #{rgba(0, 0, 0, 0.05)})
}

:host {

  .header-container {
    display: table-row;
  }

  p {
    font-size: 13px;
    @include fonts.ino-font-weight(semibold);
    color: var(--header-color);
    white-space: nowrap;
    display: table-cell;

  }

  .header-separator {
    display: table-cell;
    width: 100%;
  }

  .header-inner-box {
    margin-left: 6px;
    border-radius: 1px;
    background-color: var(--header-box-color);
    height: 10px;
  }
}

