@use 'base/mdc-customize';
@use '@material/button/mdc-button';
@use '@material/button';
@use 'base/theme';
@use 'base/animation';
@use 'base/typography';

/* borders */
$round-border: 24px 24px 24px 24px;
$edged-border: 24px 0 24px 24px;

/* button colorset */
$button_filled_hover-control_hover: #4b4eff;
$button_outlined_text_pressed: #d7e0ff;
$button_outlined_text_hover: #e8edff;
$button_filled_pressed: #3d40f5;
$focus_border: #2d5dff4d;

/**
 * @prop --ino-segment-button-color: Color of the segment button if inactive
 * @prop --ino-segment-button-checked-color: Color of the segment button if checked
 * @prop --ino-segment-button-hover-color: Color of the segment button on hover
 * @prop --ino-segment-button-disabled-color: Color of the segment button if disabled
 * @prop --ino-segment-button-focus-border: Color of the segment button border on focus
 * @prop --ino-segment-button-pressed-color: Color of the segment button border if pressed
 */
:host {
  --segment-button-color: var(
    --ino-segment-button-color,
    #{theme.color(light, base)}
  );
  --segment-button-checked-color: var(
    --ino-segment-button-checked-color,
    #{theme.color(primary, dark)}
  );
  --segment-button-hover-color: var(
    --ino-segment-button-hover-color,
    #{$button_outlined_text_hover}
  );
  --segment-button-disabled-color: var(
    --ino-segment-button-disabled-color,
    #{theme.color(dark, base)}
  );
  --segment-button-focus-border: var(
    --ino-segment-button-focus-border,
    #{$focus_border}
  );
  --segment-button-pressed-color: var(
    --ino-segment-button-pressed-color,
    #{$button_outlined_text_pressed}
  );
}

:host {
  float: left;

  .mdc-button {
    @include typography.font($size: s, $weight: none);
    letter-spacing: 1.5px;
    text-align: center;
    border-radius: $edged-border;

    @include animation.border-radius(
      ino-button-round-to-edge,
      $round-border,
      $edged-border,
      0.15s
    );
    &:hover {
      border-radius: $round-border;
      @include animation.border-radius(
        ino-segment-button-edged-to-round,
        $edged-border,
        $round-border,
        0.15s
      );
    }

    @include button.container-fill-color(#fff);
    margin: 0;

    &:after,
    &:before {
      background-color: #fff;
    }
  }
  .mdc-button--unelevated {
    @include button.ink-color(var(--segment-button-color));

    &:disabled {
      @include button.outline-color(var(--segment-button-disabled-color));
      @include button.ink-color(var(--segment-button-disabled-color));
    }

    &:hover {
      @include button.container-fill-color(var(--segment-button-hover-color));
      @include button.ink-color(var(--segment-button-checked-color));
    }
    &:focus {
      @include button.container-fill-color(var(--segment-button-pressed-color));
      box-shadow: inset 0 0 0 4px var(--segment-button-focus-border);
    }
  }
  .ino-segment-button {
    &--active {
      @include button.ink-color(var(--segment-button-checked-color));
      @include button.container-fill-color(var(--segment-button-pressed-color));
    }
    &--dense {
      @include button.density(-1);
    }
  }
}

/*
  Regarding belongs-to-group class:
  Prevents styles from being applied to segment-buttons that do not belong to a group.
  The host-context selector cannot be used as it is not compatible with firefox and safari.
*/
button.belongs-to-group {
  border: none !important;
}
