@use '@material/button/mdc-button';
@use '@material/button';
@use 'styles/colors';
@use 'styles/fonts';

// Borders
$edged-border: 0;

// Shadows
$small-shadow: 0 4px 8px 0 rgba(61, 64, 245, 0.3),
0 12px 28px 0 rgba(61, 214, 245, 0.14);
$big-shadow: 0 8px 16px 0 rgba(61, 64, 245, 0.3),
0 16px 32px 0 rgba(61, 214, 245, 0.14);

:host {
  display: inline-block;
}

ino-segment-button {
  .mdc-button {
    @include fonts.ino-font($size: s, $weight: none);
    letter-spacing: 1.5px;
    text-align: center;

    @include button.shape-radius($edged-border);
    @include button.container-fill-color(#fff);
    margin: 0;

    &:after, &:before {
      background-color: #fff;
    }
  }

  .mdc-button--outlined {
    @include button.outline-width(1px);
    @include button.outline-color(colors.ino-color(light, base));
    @include button.ink-color(colors.ino-color(light, dark));

    &:disabled {
      @include button.outline-color(colors.ino-color(dark, base));
      @include button.ink-color(colors.ino-color(light, base));
    }

    &:hover{
      @include button.outline-color(colors.ino-color(primary, light));
      @include button.ink-color(colors.ino-color(primary, light));
      box-shadow: $small-shadow;
    }
  }

  .ino-segment-button--active, .ino-segment-button--active:hover {
    @include button.outline-color(colors.ino-color(primary, dark));
    @include button.ink-color(colors.ino-color(primary, dark));
    box-shadow: $big-shadow;
  }

  .ino-segment-button--dense {
    @include button.density(-1);
  }
}
