@use 'base/mdc-customize';
@use '@material/button/mdc-button';
@use '@material/button';
@use 'base/animation';
@use 'base/typography';
@use 'base/common';
@use 'base/new-theme' as theme;

/* borders */
$round-border: 24px 24px 24px 24px;
$edged-border: 24px 0 24px 24px;

/* Colors: */
$button_outlined_text_pressed: #d7e0ff;
$button_outlined_text_hover: #e8edff;
$text-active: #3b14f9;

@mixin disabled {
  pointer-events: none;
  color: theme.$n-3;
}

ino-segment-button {
  float: left;

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: theme.$n-3;

    @include common.border-rounding-animation(
      $round-border,
      $edged-border,
      0.15s,
      $round-to-edged: true
    );

    min-height: 44px;
    line-break: auto;
    line-height: 100%;

    cursor: pointer;
    @include typography.font($size: s, $weight: medium);
    text-align: center;
    letter-spacing: 0.27px;

    &:hover {
      color: $text-active;
      background-color: $button_outlined_text_hover;
      @include common.border-rounding-animation(
        $round-border,
        $edged-border,
        0.15s,
        $round-to-edged: false
      );
    }
    &:focus {
      color: $text-active;
      box-shadow: inset 0 0 0 3px theme.$primary-focus;
      background-color: $button_outlined_text_hover;
    }
    &:active {
      color: $text-active;
      background-color: $button_outlined_text_pressed;
    }

    &:disabled {
      @include disabled();
      background-color: theme.$n-7;
    }
    &.button--active {
      color: $text-active;
      background-color: $button_outlined_text_hover;
    }

    &.button--dense {
      padding: 6px 16px;
      min-height: 32px;
    }
  }
}

/*
  Regarding belongs-to-group class:
  Prevents styles from being applied to segment-buttons that do not belong to a group.
  The host-context selector cannot be used as it is not compatible with firefox and safari.
*/
button.belongs-to-group {
  border: none !important;
}
