@use '@material/data-table';
@use 'styles/colors';

ino-table-row {
  display: table-row;

  @include data-table.core-styles;

  &.mdc-data-table__row--selected {
    background-color: rgba(colors.$primary, 0.12);

    &:hover {
      background-color: rgba(colors.$primary-light, 0.08);
    }
  }
}
