@use 'base/mdc-customize';
@use '@material/data-table/data-table';
@use 'base/theme';

@include data-table.core-styles;
@include data-table.theme-baseline;

ino-table-row {
  display: table-row;

  &.mdc-data-table__row--selected {
    background-color: rgba(theme.color(primary), 0.12);

    &:hover {
      background-color: rgba(theme.color(primary), 0.08);
    }
  }
}
