@use '../styles/mdc-customize';
@use '@material/data-table/data-table';
@use 'styles/colors';

@include data-table.core-styles;
@include data-table.theme-baseline;

ino-table-row {
  display: table-row;

  &.mdc-data-table__row--selected {
    background-color: rgba(colors.$primary, 0.12);

    &:hover {
      background-color: rgba(colors.$primary-light, 0.08);
    }
  }
}
