@use '../base/mdc-customize';
@use '@material/list';
@use '../base/new-theme' as theme;
@use '../base/option-base' as base;

@include list.deprecated-core-styles;

$height: 2.85rem;

ino-option {
  /**
   * @prop --ino-option-height: Height of the option container. [size:2.85:rem]
   * @prop --ino-option-selected-background-color: Background color if selected. [color:#f6fafe]
   * @prop --ino-option-selected-background-color-hover: Background color on hover if selected. [color:#e2ecff]
   * @prop --ino-option-selected-background-color-focus: Background color on focus if selected. [color:#e2ecff]
   * @prop --ino-option-selected-background-color-active: Background color if active and selected. [color:#beccff]
   * @prop --ino-option-deselected-background-color: Background color if deselected. [color:#fff]
   * @prop --ino-option-deselected-background-color-hover: Background color on hover if deselected. [color:#f4f4f7]
   * @prop --ino-option-deselected-background-color-focus: Background color on focus if deselected. [color:#f4f4f7]
   * @prop --ino-option-deselected-background-color-active: Background color if active and deselected. [color:#fff]
   */
  --height: var(--ino-option-height, #{$height});
  --option-selected-background-color: var(
    --ino-option-selected-background-color,
    #{base.$OPTION-SELECTED-BG-COLOR}
  );
  --option-selected-background-color-hover: var(
    --ino-option-selected-background-color-hover,
    #{base.$OPTION-SELECTED-BG-COLOR-HOVER}
  );
  --option-selected-background-color-focus: var(
    --ino-option-selected-background-color-focus,
    #{base.$OPTION-SELECTED-BG-COLOR-HOVER}
  );
  --option-selected-background-color-active: var(
    --ino-option-selected-background-color-active,
    #{base.$OPTION-SELECTED-BG-COLOR-ACTIVE}
  );
  // the following CSS variables do not have a default value as the component uses the default colors set
  // by the MDC library if the value of the variable is empty
  --option-deselected-background-color: var(
    --ino-option-deselected-background-color,
    #{base.$OPTION-DESELECTED-BG-COLOR}
  );
  --option-deselected-background-color-hover: var(
    --ino-option-deselected-background-color-hover,
    #{base.$OPTION-DESELECTED-BG-COLOR-HOVER}
  );
  --option-deselected-background-color-focus: var(
    --ino-option-deselected-background-color-focus,
    #{base.$OPTION-DESELECTED-BG-COLOR-HOVER}
  );
  --option-deselected-background-color-active: var(
    --ino-option-deselected-background-color-active,
    #{base.$OPTION-DESELECTED-BG-COLOR}
  );
}

ino-option {
  @include list.deprecated-item-disabled-text-opacity(0.5);

  .mdc-deprecated-list-item {
    height: var(--height);

    @include base.style-mdc-list-item-deselected-states(
      var(--option-deselected-background-color),
      var(--option-deselected-background-color-hover),
      var(--option-deselected-background-color-focus),
      var(--option-deselected-background-color-active)
    );

    &.mdc-deprecated-list-item--selected,
    &.mdc-deprecated-list-item--activated {
      @include base.style-mdc-list-item-selected-states(
        var(--option-selected-background-color),
        var(--option-selected-background-color-hover),
        var(--option-selected-background-color-focus),
        var(--option-selected-background-color-active)
      );
    }
  }

  .mdc-deprecated-list-item--disabled {
    pointer-events: none;
  }
}
