@import 'styles/variables.scss';
@import 'styles/colors.scss';

// Import the different spinner styles
@import 'ino-spinner/styles/tile.mixins.scss';
@import 'ino-spinner/styles/bounce.mixins.scss';
@import 'ino-spinner/styles/circle.mixins.scss';

ino-spinner {

  // Styles for all spinners
  .spinner {
    font-size: 10px;
    display: inline-block;
    position: relative;
  }

  // Include different styles depending on the ino-type attribute
  &:not([ino-type]) .spinner, &[ino-type="tile"] .spinner {
    @include tile();
  }
  &[ino-type="bounce"] .spinner {
    @include bounce;
  }
  &[ino-type="circle"] .spinner {
    @include circle;
  }

  // Generate ino-color-scheme classes
  @each $color-name, $map in $ino-color-scheme {
    &[ino-color-scheme="#{$color-name}"] {
      
      // Generate for each color class and type the color styles
      &:not([ino-type]) .spinner, &[ino-type="tile"] .spinner {
        @include tile-color(map-get($map, base));
      }
      &[ino-type="bounce"] .spinner {
        @include bounce-color(map-get($map, base));
      }
      &[ino-type="circle"] .spinner {
        @include circle-color(map-get($map, base));
      }
    }
  }

  // Modal
  &[ino-modal] {
    position: fixed;
    z-index: $z-index-spinner;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(255,255,255, 0.95);

    .spinner {
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
