@import '@inovex.de/elements/dist/inovex-elements/inovex-elements.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root h1.header-d2,
h1.header-d3 {
  font-weight: lighter !important;
  color: #232527;
}

:root b {
  font-weight: bold; /* for firefox */
}

* {
  box-sizing: border-box;
}

p {
  line-height: 25px;
}

ino-chip * {
  /* mdc chip works with box-sizing: content-box which gets overwritten by global styles */
  box-sizing: initial;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  row-gap: 80px;
}

.section-container section:first-child {
  margin: 80px 0 0 0;
}

.inovex-elements-typo h1 {
  font-size: 40px;
}

.inovex-elements-typo h2 {
  font-size: 28px;
  margin-top: 80px;
}

.table-shadow {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  margin-bottom: 30px;
}

.grid-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(400px, 960px) 1fr;
  grid-template-areas: 'content nav';
}

aside {
  margin-left: 100px;
}

aside > .navigation-menu {
  border-left: 1px solid var(--ds-border, #ebecf0);
  margin-top: var(--ds-space-400, 35px);
  padding-block: var(--ds-space-050, 4px);
  padding-inline: var(--ds-space-150, 12px);
  margin-bottom: var(--ds-space-400, 32px);
  min-width: 184px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  color: #908da2;
}

.navigation-menu > ul > li > a {
  font-weight: 200;
  color: inherit;
}

li.active:before {
  content: '';
  position: absolute;
  left: -14px;
  height: 50px;
  border-left: 2px solid #4655ff;
  top: -14px;
}

.navigation-menu .active {
  color: blue;
}

.navigation-menu > ul {
  list-style-type: none;
  padding: var(--ds-space-0, 0px);
  font-size: var(--ds-font-size-050, 11px);
  line-height: calc(14 / 11);
  margin: var(--ds-space-150, 12px) 0 0 0;
}

aside > .navigation-menu > h5 {
  margin-bottom: 40px;
}

.navigation-menu > ul > li {
  position: relative;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 25px;
  line-height: inherit;
  margin-bottom: var(--ds-space-0, 0px);
  margin-top: 32px;
}
