@import '@inovex.de/elements/dist/inovex-elements/inovex-elements.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root a {
  color: #2C02FF;
  font-weight: bold;
  text-decoration: none;
}

:root b { 
  font-weight: bold; /* for firefox */
}

* {
  box-sizing: border-box;
}

ino-chip * {
  /* mdc chip works with box-sizing: content-box which gets overwritten by global styles */
  box-sizing: initial;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  row-gap: 80px;
}