// taken from elements/
$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);

// Neutrals
$n-1: #F4F4F7;
$n-2: #DFDEE6;
$n-3: #CAC8D5;
$n-4: #B6B4C4;
$n-5: #A3A0B3;
$n-6: #908DA2;
$n-7: #7E7B91;
$n-8: #6D6A80;
$n-9: #5D5B69;
$n-10: #4C4B52;
$n-11: #39383C;
$n-12: #191919;

// Primary Blue
$primary: #2c02ff;
$primary-focus: #2d5dff4d;

$p-1: #f6fafe;
$p-2: #e2ecff;
$p-3: #beccff;
$p-4: #8aa1ff;
$p-5: #4655ff;
$p-6: #2d02ff;
$p-7: #1801e1;
$p-8: #0801c4;
$p-9: #0106a6;
$p-10: #000e88;
$p-11: #00126a;
$p-12: #00124d;

//Alert Colors
$informational: #F4F4F7;
$informational-light: #D6E0FF;
$success: #6CF070;
$success-light: #D7FAD8;
$error: #FF2E54;
$error-light: #FFD6DE;
$warning: #FFA42E;
$warning-light: #FFEED6;
