.story-ino-snackbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  .button__label {
    pointer-events: none;
  }
  ino-button:not(:last-of-type) {
    margin-bottom: 32px;
  }
}
