.sbdocs.sbdocs-content:has(#anchor--notification-ino-snackbar--default) {
  [scale] {
    width: 100%;
  }

  [scale] > div > div > div > div {
    position: relative;
    overflow: visible;
    padding: 10px;
  }

  .hidden {
    display: none;
  }
}
