.sbdocs.sbdocs-content:has(#anchor--notification-ino-snackbar--default) {
  [scale] {
    width: 100%;
  }

  [scale] > div > div > div > div {
    position: relative;
    overflow: visible;
    padding: 10px;
  }

  .snackbar-template {
    position: absolute;
    inset: -200px;
    z-index: 999;
    pointer-events: none;
  }

  .hidden {
    display: none;
  }
}