@import 'styles/tooltip.scss';

ino-tooltip {
  @include tooltip(#000, #CCC);

  .ino-tooltip__composer {
    border-radius: 3px;
    padding: .4em .75em;
    font-size: .8rem;
    text-align: center;
  }
}

