@import 'styles/tooltip.scss';

ino-tooltip {
  @include tooltip(#000, #ccc);

  .ino-tooltip__composer {
    border-radius: 3px;
    padding: 0.4em 0.75em;
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
