@import '../utils';

.story-tooltip {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 110px;

  h4 {
    margin-top: 48px;
  }

  ino-button {
    margin: 12px 24px;
  }
}

.sbdocs.sbdocs-content:has(#anchor--notification-ino-tooltip--default) {
  [scale] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 110px;

    #story--notification-ino-tooltip--color-scheme-inner {
      @include story-container {
        display: flex;
        gap: 15px;
      }
    }

    h4 {
      margin-top: 48px;
    }
  }
}
