@use '@styles/theme';

.aside {
  margin-left: 100px;
}

.aside > .navigationMenu {
  position: sticky;
  top: 80px;
  margin-top: 35px;
  border-left: 1px solid #ebecf0;
  padding-inline: 12px;
  margin-bottom: 32px;
  min-width: 184px;
  color: theme.$n-6;
}

.navigationMenu > .sections > li > a {
  font-weight: 200;
  color: inherit;
}

li.active:before {
  content: '';
  position: absolute;
  left: -14px;
  height: 50px;
  border-left: 2px solid theme.$p-05;
  top: -14px;
}

.navigationMenu .active {
  color: theme.$p-05;
}

.navigationMenu > .sections {
  list-style-type: none;
  padding: 0;
}

.aside > .navigationMenu > h5 {
  margin-bottom: 40px;
  margin-top: 0;
}

.navigationMenu > .sections > li {
  position: relative;
  margin-top: 32px;
}
