.body {
  margin: auto;
  width: 70%;

  @media screen and (max-width: 600px) {
    width: 90%;
    margin: 1.429rem 4.286rem;
  }

  @media screen and (max-width: 1200px) {
    width: 80%;
  }
}

.main {
  min-height: 35.714rem;
}
