@use '../base/typography-new' as typography;
@use '../base/new-theme' as theme;

.accordion {
  border: 1px solid theme.$n-3;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &--expanded {
    background-color: #e8e8e8;

    .question::after {
        transform: rotate(180deg);
    }

    .answer {
      max-height: 300px;
    }
  }
}

.question {
  @include typography.typo(title-s);
  padding: 16px;
  background-color: theme.$p-1;
  transition: background-color 0.3s ease;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: theme.$p-3;
  }

  &::after {
    content: '\25BC';
    font-size: 0.8em;
    transition: transform 0.3s ease;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  &__content {
    padding: 16px;
    background-color: #ffffff;
    @include typography.typo(body-m);
    color: theme.$n-10;
  }
}
