@use '@material/textfield/mdc-text-field';
@use '@material/textfield';
@use '@material/textfield/icon';
@use "@material/textfield/helper-text";
@use "@material/floating-label/mdc-floating-label";
@use "@material/notched-outline/mdc-notched-outline";
@use 'styles/colors';
@use 'styles/fonts';

$default-text-field: 'not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)';
$placeholder-color: rgba(0, 0, 0, 0.6);
$padding-top: 24px;

@mixin hideNativeNumberInputArrows() {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

ino-input {
  /**
   * @prop --ino-input-caret-color: color of the caret
   * @prop --ino-input-label-color: color of the label
   * @prop --ino-input-line-color: line color
   * @prop --ino-input-icon-color: icon color
   */
  --input-caret-color: var(--ino-input-caret-color, #{colors.$primary});
  --input-label-color: var(--ino-input-label-color, #{colors.$primary});
  --input-line-color: var(--ino-input-line-color, #{colors.$primary});
  --input-icon-color: var(--ino-input-icon-color, #{colors.$primary});
}

ino-input {

  display: block;
  @include icon.icon-core-styles;


  & > .ino-input__composer {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }

  @include fonts.ino-font(sans-serif, m, regular);

  &:hover {
    @include textfield.fill-color(transparent);
  }

  .mdc-text-field {

    @include textfield.focused-outline-color(var(--input-line-color));

    ino-icon {
      --icon-color: #{$placeholder-color};
    }

    &--focused:not(.mdc-text-field--invalid) {
      @include textfield.label-color(var(--input-label-color));
      @include textfield.caret-color(var(--input-caret-color));
      @include textfield.line-ripple-color(var(--input-line-color));

      ino-icon {
        --icon-color: var(--input-icon-color);
      }
    }

    &--invalid ino-icon {
      --icon-color: var(--mdc-theme-error, #b00020);
    }

    &--disabled {
      background-color: transparent !important;
    }

    & + .mdc-text-field-helper-line {
      padding: 0;
    }

    // Placeholder color
    &:not(.mdc-text-field--disabled) {
      & input::placeholder {
        color: $placeholder-color;
      }
    }

    &:#{$default-text-field} {
      @include textfield.fill-color(transparent);

      // change background von greyish to transparent
      &:before {
        background-color: transparent;
      }

      &:not([class*='--with-leading-icon']) {
        padding-left: 0;
        padding-right: 0;
      }

      &[class*='--with-leading-icon'] {
        $padding-to-left: 38px;

        .mdc-floating-label,
        .mdc-floating-label--float-above {
          left: $padding-to-left;
        }
      }

      .mdc-text-field__icon {
        cursor: auto;
        pointer-events: auto;
        bottom: 2px;
        padding-top: $padding-top;

        &--leading {
          left: 6px;
        }

        &--trailing {
          right: 6px;
        }
      }

      .mdc-text-field__input {
        padding-bottom: 0;
        padding-top: $padding-top;
      }
      &.mdc-text-field--no-label .mdc-text-field__input {
        padding-top: 12px;
      }
    }

    .mdc-text-field__icon {
      ino-icon {
        --icon-height: 1em;
        --icon-width: 1em;
      }
    }

    .mdc-text-field__affix.mdc-text-field__affix--suffix {
      margin-right: 12px;
    }
  }


  // Custom number arrows
  &[type='number'] {

    @include hideNativeNumberInputArrows();

    .arrow-container {
      position: relative;
      display: flex;
      flex-direction: column;
      right: 5px;
      top: -25%;
      height: 50%;

      .ino-num-arrows {
        --ino-icon-height: 5px;
        padding: 2px 0;
        cursor: pointer;

        &.up {
          transform: scaleY(-1);
        }
      }
    }

    .mdc-text-field--outlined .arrow-container {
      top: 36%;
    }

    .mdc-text-field:#{$default-text-field}, .mdc-text-field.mdc-text-field--outlined {
      .mdc-text-field__icon.mdc-text-field__icon--trailing {
        right: 25px;
      }
    }
  }
}
