@import '@material/textfield/mdc-text-field';
@import '@material/textfield/helper-text/mdc-text-field-helper-text';
@import '@material/textfield/icon/mdc-text-field-icon';

$default-text-field: 'not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)';
$placeholder-color: rgba(0, 0, 0, 0.6);

ino-input {
  display: block;

  & > .ino-input__composer {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }


  &:hover {
    @include mdc-text-field-fill-color(transparent);
  }

  .mdc-text-field {
    &--focused {
      @include mdc-text-field-icon-color(ino-color(primary, base));
    }

    &--disabled {
      background-color: transparent;
    }

    // Adjustments to the new icon font-size
    &--outlined .mdc-text-field__icon {
      bottom: 19px;
    }

    & + .mdc-text-field-helper-line {
      padding: 0;
    }

    // Placeholder color
    &:not(.mdc-text-field--disabled) {
      & input::placeholder {
        color: $placeholder-color;
      }
    }

    &:#{$default-text-field} {
      @include mdc-text-field-fill-color(transparent);

      // change background von greyish to transparent
      &:before {
        background-color: transparent;
      }

      &:not([class*='--with-leading-icon']) {
        & .mdc-text-field__input {
          padding-left: 0;
        }
      }

      .mdc-text-field__icon {
        cursor: auto;
        pointer-events: auto;
        bottom: 2px;
      }

      &[class*='--with-leading-icon'] {
        $padding-to-left: 38px;

        input {
          padding-left: $padding-to-left;
        }

        .mdc-floating-label,
        .mdc-floating-label--float-above {
          left: $padding-to-left;
        }
      }

      .icon-leading {
        left: 6px;
      }

      .icon-trailing {
        right: 6px;
      }

      .mdc-text-field__input {
        padding-bottom: 0;
        padding-top: 20px;
      }
    }

    .mdc-text-field__icon {
      font-size: 20px;

      &.unit {
        font-size: 16px;
      }
    }
  }
}
