@use '../base/mdc-customize';
@use '@material/textfield/mdc-text-field';
@use '@material/textfield';
@use '@material/textfield/icon';
@use '@material/textfield/helper-text';
@use '@material/floating-label/mdc-floating-label';
@use '@material/notched-outline/mdc-notched-outline';
@use '../base/theme';
@use '../base/typography';

$default-text-field: 'not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)';
$placeholder-color: rgba(0, 0, 0, 0.6);
$padding-top: 24px;

$icon-padding-to-text: 12px;
$icon-padding-to-border: 6px;

@mixin setIconColors($color) {
  .mdc-text-field__icon {
    ino-icon {
      --icon-color: #{$color};
    }
  }
}

@mixin setIconMargins($margin-leading, $margin-trailing: $margin-leading) {
  .mdc-text-field__icon.mdc-text-field__icon--leading {
    margin: $margin-leading;
  }

  .mdc-text-field__icon.mdc-text-field__icon--trailing {
    margin: $margin-trailing;
  }
}

@mixin hideNativeNumberInputArrows() {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

/* Shared Styles */
ino-input {
  /**
   * @prop --ino-input-color: text color of the input
   * @prop --ino-input-caret-color: color of the caret
   * @prop --ino-input-label-color: color of the label
   * @prop --ino-input-line-color: line color
   * @prop --ino-input-icon-color: icon color
   */
  --input-color: var(--ino-input-color, #{textfield.$ink-color});
  --input-caret-color: var(--ino-input-caret-color, #{theme.color(primary)});
  --input-label-color: var(--ino-input-label-color, #{theme.color(primary)});
  --input-line-color: var(--ino-input-line-color, #{theme.color(primary)});
  --input-icon-color: var(--ino-input-icon-color, #{theme.color(primary)});

  display: block;
  @include icon.icon-core-styles;
  @include typography.font(sans-serif, m, regular);
  @include textfield.caret-color(var(--input-caret-color));

  .mdc-text-field {
    @include textfield.ink-color(var(--input-color));
  }

  & * {
    box-sizing: initial;
  }

  & > .ino-input__composer {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }

  .mdc-text-field__icon,
  .mdc-text-field__icon:not([tabindex]) {
    cursor: auto;
    pointer-events: auto;
    padding: 0;
  }

  @include setIconColors($placeholder-color);

  .mdc-text-field--focused {
    @include textfield.label-color(var(--input-label-color));
    @include setIconColors(var(--input-icon-color));
  }

  .mdc-text-field--invalid {
    @include textfield.label-color(theme.color(error));
    @include setIconColors(theme.color(error));
  }

  :not(.mdc-text-field--disabled) {
    @include textfield.placeholder-color($placeholder-color);
  }

  .mdc-text-field__affix.mdc-text-field__affix--suffix {
    margin-right: 12px;
  }
}

// Filled textfield specific
ino-input .mdc-text-field--filled {
  @include textfield.fill-color(transparent);
  @include textfield.disabled-fill-color(transparent);
  @include textfield.line-ripple-color(var(--input-line-color));

  &.mdc-text-field--invalid {
    @include textfield.line-ripple-color(theme.color(error));
  }

  &:not([class*='--with-leading-icon']) {
    padding-left: 0;
    padding-right: 0;
  }

  &[class*='--with-leading-icon'] {
    $padding-to-left: 32px;

    .mdc-floating-label,
    .mdc-floating-label--float-above {
      left: $padding-to-left;
    }
  }

  .mdc-text-field__input {
    padding-bottom: 0;
    padding-top: $padding-top;
  }

  &.mdc-text-field--no-label .mdc-text-field__input {
    padding-top: 10px;
  }

  .mdc-text-field__icon {
    padding: $padding-top 0 0 0;

    ino-icon {
      --icon-height: 1em;
      --icon-width: 1em;
    }
  }

  @include setIconMargins(
    (0 $icon-padding-to-text 0 $icon-padding-to-border),
    (0 $icon-padding-to-border 0 $icon-padding-to-text)
  );
}

// Outlined textfield specific
ino-input .mdc-text-field--outlined {
  @include textfield.focused-outline-color(var(--input-line-color));

  &.mdc-text-field--invalid {
    @include textfield.focused-outline-color(theme.color(error));
  }

  &[class*='--with-leading-icon']
    .mdc-floating-label:not(.mdc-floating-label--float-above) {
    left: 24px;
  }

  .mdc-text-field__icon {
    height: 16px;
    width: 16px;
  }

  @include setIconMargins((0 $icon-padding-to-text 0 $icon-padding-to-text));
}

ino-input {
  .mdc-text-field + .mdc-text-field-helper-line {
    padding-left: 0;
  }
}

// Custom number arrows
ino-input[type='number'] {
  @include hideNativeNumberInputArrows();

  .arrow-container {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 5px;
    top: -15%;
    height: 50%;

    .ino-num-arrows {
      --ino-icon-height: 5px;
      --icon-color: #{$placeholder-color};

      padding: 2px 0;
      cursor: pointer;

      &.up {
        transform: scaleY(-1);
      }
    }
  }
}
