name: Destroy Unicorn

on:
  pull_request:
    types: [closed]

jobs:
  destroy-unicorn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
      - uses: rlespinasse/github-slug-action@v3.x
      - name: Destroy unicorn
        run: |
          echo "... Destroying unicorn on $DEPLOYMENT_PATH"
          aaz storage blob delete-batch --account-name STORAGE_ACCOUNT --auth-mode key -s '$web' --pattern "${DEPLOYMENT_PATH}*"
        env:
          DEPLOYMENT_PATH: unicorn/${{ env.GITHUB_HEAD_REF_SLUG }}
          STORAGE_ACCOUNT: elementssa