name: Quality Control

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  qc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        uses: ./.github/workflows/dependencies-install

      - name: Store Playwright's Version
        run: |
          PLAYWRIGHT_VERSION=$(pnpm exec playwright -V | awk '{ print $2 }')
          echo "Playwright's Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV
      - name: Cache Playwright Browsers for Playwright's Version
        id: cache-playwright-browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ env.PLAYWRIGHT_VERSION }}
      - name: Setup Playwright
        if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
        run: pnpm playwright install --with-deps chromium

      - name: Check format
        run: pnpm format

      - name: Check lint
        run: pnpm lint:ci
        env:
          NX_REJECT_UNKNOWN_LOCAL_CACHE: 0
      - name: Build all projects
        run: pnpm build
        env:
          NX_REJECT_UNKNOWN_LOCAL_CACHE: 0
      - name: Check if there are changes
        uses: NathanielHill/fail-if-changes@v1.1.1
      - name: Test all projects
        id: test_projects
        run: pnpm test
      - name: Upload playwright trace
        if: ${{ failure() && steps.test_projects.conclusion == 'failure' }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-traces
          path: packages/storybook/test-results
      - name: Upload build artifacts for canary release
        uses: ./.github/workflows/artifacts-upload
        with:
          upload-core-artifacts: true
          upload-example-artifacts: ${{ github.ref == 'refs/heads/master' }}
          upload-storybook-artifact: true

  unicorn:
    needs: qc
    uses: ./.github/workflows/deploy-unicorn.yml
