// select storybook page for ino-nav-menu
.sbdocs.sbdocs-content:has(#anchor--structure-ino-nav-menu--playground) {

  // select wrapper for every ino-nav-menu story
  // max-height is needed to show stickyness of ino-nav-menu
  [scale] {
    width: 100%;
    max-height: 250px;  
  }

  [scale]:has(.show-full-height) {
    max-height: unset;  
  }
  
  [scale] .story-ino-nav-menu {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
  }

  [scale] aside {
    ino-nav-menu {
      display: flex;
      width: 150px;
    }
  }
}
