.navbar {
  display: flex;
  gap: 46px;
  align-items: center;
}

div.popover {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 180px;
  text-align: center;
  border-radius: 45px;
}
